<%# Head / Meta Data %>
<% title("NOTAMs - The Right Rudder Marketing Blog") %>
<% meta_description("A blog all about flight schools and marketing.  We take a look at digital marketing strategies used in the aviation industry which can help accelerate the number the of student pilots coming to your flight school.") %>
<% meta_keywords("Right Rudder Marketing, Blog, aviation webinar, aviation business marketing ideas") %>
<%# Not sure if need to put twitter/OG image yet.. %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>


<!--Set Page font size and limit sticky-->
<div class="text-lg bg-gradient-to-r from-slate-50 to-blue-200">
  <%= render "shared/navbar" %>
  <!--Header Section-->
  <section class="bg-slate-100">
    <div class="py-48 bg-gradient-to-r from-slate-50 to-blue-100">
      <h1 class="text-5xl font-bold text-center pt-20 pb-5">Right Rudder Marketing NOTAMs</h1>
      <h2 class="text-2xl font-semibold text-center pb-20">A blog about aviation and flying.  Learn business and marketing.  Hear the lastest news.</h2>
    </div>
  </section>

  <!--Top Section-->
  <div class="flex flex-col lg:flex-row">
    <!--Featured Article-->
    <section>
      <div class="">
        <!--Image Background-->
        <div class="">
        </div>
      </div>
    </section>
    <!--Side with recent articles-->
    <aside>
    </aside>
  </div>

  <!--Next section with categories-->
  <div class="flex flex-col lg:flex-row">
    <!--Category 1: News and Announcements-->
    <div class="">
    </div>
    <!--Category 2: Aviation and Flying-->
    <div class="">
    </div>
    <!--Category 3: Business and Marketing-->
    <div class="">
    </div>
  </div>
  
  <%= render "shared/cta1" %>
  <%= render "shared/footer" %>

  <!--Default
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Notams</h1>
      <%= link_to 'New notam', new_notam_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium", data: { turbo: false } %>
    </div>

    <div id="notams" class="min-w-full">
      <%= render @notams %>
    </div>
  </div>
</div>
-->


