<%# Head / Meta Data %>
<% title(@notam.title + " | Right Rudder Marketing Blog") %>
<% meta_description(if @notam.meta_description? then @notam.meta_description end) %>
<% meta_keywords(if @notam.meta_keywords? then @notam.meta_keywords end) %>
<% og_image(rails_storage_proxy_url(@notam.feature_image)) %>
<% twitter_image(rails_storage_proxy_url(@notam.feature_image)) %>



<%# PREVIOUS OG IMAGES%>
<%# og_image(@notam.feature_image.url) %>
<%# twitter_image(@notam.feature_image.url) %>


<!--URL TESTING 
  <%= rails_storage_proxy_url(@notam.feature_image) %>
-->


<!--Set Page font size and limit sticky-->
<div class="text-lg bg-gradient-to-r from-slate-100 to-blue-100">
  <%= render "shared/navbar" %>

  <div class="flex flex-col items-center">
    <div class="lg:border-1 lg:w-3/5 flex flex-col lg:rounded-xl lg:my-10 border-slate-300 bg-slate-50">
      <!--Header-->
      <%=image_tag @notam.feature_image.url, class:"w-full object-cover object-center lg:rounded-t-xl", alt: "picture for article: #{@notam.title}"%>
      <!--Text-->
      <div class="">
        <div class="p-3">
          <h2 class="font-bold text-3xl"><%= @notam.title %></h2>
          <% case @notam.category %>
            <% when "News and Announcements" %>
              <div class="text-md font-semibold hover:underline"><%= link_to "News and Announcements", na_path, data: {turbo: false} %></div>
            <% when "Aviation and Flying" %>
              <div class="text-md font-semibold hover:underline"><%= link_to "Aviation and Flying", af_path, data: {turbo: false} %></div>
            <% when "Business and Marketing" %>
              <div class="text-md font-semibold hover:underline"><%= link_to "Business and Marketing", bm_path, data: {turbo: false} %></div>
            <% when "Flight School Articles" %>
              <div class="text-md font-semibold hover:underline"><%= link_to "Flight School Articles", fs_path, data: {turbo: false} %></div>
          <% end %>
              
          
          <div class="text-sm font-semibold"><%= I18n.localize(@notam.notam_date, :format => '%^a %^b %-d %Y') %></div>
          <div class="text-sm italic">Written by <%= @notam.author%></div>          
        </div>
        <%# Shown only when logged in %>
        <% if admin_signed_in? %>
        <hr class="border-slate-300">        
        <div class="p-3">
          <div>Status: <span class="italic"><%= @notam.status %></span></div>
          <div class="flex flex-row gap-3">
            <%= link_to 'Edit this post', edit_notam_path(@notam), class: "font-semibold hover:underline", data: { turbo: false } %>
            <span class="hidden"> | </span>
            <%= button_to 'Delete this post', notam_path(@notam), method: :delete, class: " font-semibold hover:underline" %>
          </div>
        </div>
        <hr class="border-slate-300">
        <%end%>
      </div>
      
      <!--Content-->
      <div class="p-3 no-tailwindcss-base ">
        <%= raw @notam.notam_body %>
      </div>
    </div>
  </div>

<%# Random Articles %>
<section class="bg-gradient-to-tl from-blue-950 to-slate-800 pb-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl pt-20">More NOTAMs</h2>
      <%= link_to notams_path, data: {turbo: false} do%>
        <div class="text-gray-300 pt-3 hover:underline">Click here to the NOTAMs blog homepage</div>
      <%end%>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none sm:grid-cols-2">
      
      <% @notams.published.each do |post| %> 
        <%= link_to post, data: { turbo: false }, class: "" do%>
          <article class="hover:scale-105 duration-300 relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-20 h-full">
            <%= image_tag post.feature_image, class: "absolute inset-0 -z-10 h-full w-full object-cover" %>
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
            <div class="flex flex-wrap items-center gap-y-1 text-sm leading-6 text-gray-300">
              <time datetime="<%= post.notam_date %>" class="mr-8"><%= I18n.localize(post.notam_date, :format => '%^a %^b %-d %Y') %></time>
            </div>
            <div class="flex flex-wrap items-center gap-y-1 text-sm leading-6 text-gray-300"><%= post.author%></div>
            <div class="flex flex-wrap items-center gap-y-1 text-sm leading-6 text-gray-300"><%= post.category%></div>
            <h3 class="mt-3 text-lg font-semibold leading-6 text-white"><%= post.title%></h3>
          </article>
        <%end%>
      <%end %>
    </div>
  </div>
</section>
<%= render "notams_blog" %>
</div>
<%= render "shared/cta1" %>
<%= render "shared/footer" %>
