<%# Head / Meta Data %>
<% title(@notam.title + " | Right Rudder Marketing") %>
<% meta_description(if @notam.meta_description? then @notam.meta_description end) %>
<% meta_keywords(if @notam.meta_keywords? then @notam.meta_keywords end) %>
<% og_image(image_url(@notam.feature_image.url)) %>
<% twitter_image(image_url(@notam.feature_image.url)) %>




<!--Default Hidden-->
<div class="mx-auto md:w-2/3 w-full flexx hidden">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @notam %>

    <%= link_to 'Edit this notam', edit_notam_path(@notam), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", data: { turbo: false } %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this notam', notam_path(@notam), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to notams', notams_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
