<%# Head / Meta Data %>
<% title("The Right Rudder Marketing Webinar Series") %>
<% meta_description("The Right Rudder Marketing Webinar Series is a series created to inspire flight schools to achieve optimal success in their businesses.") %>
<% meta_keywords("Right Rudder Marketing, Blog, aviation webinar, aviation marketing, aviation business marketing ideas") %>
<% og_image(image_url("rrm-notams-trans.webp")) %>
<% twitter_image(image_url("rrm-notams-trans.webp")) %>


<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar" %>
  <!--Header Section-->
  <section class="grid place-items-center bg-gradient-to-r from-slate-100 to-blue-100 lg:to-blue-200">
    <div class="py-20 flex flex-col lg:flex-row-reverse lg:w-5/6">
      <!--Blog image-->
      <div class="grid place-items-center ">
        <%= image_tag "webinartrans.webp", class: "w-4/5"%>
      </div>
      
      <!--Text about webinar-->
      <div class="px-5 lg:px-0 lg:w-3/4">
        <h1 class="text-5xl font-bold text-center pt-20 pb-5">Right Rudder Marketing Webinar Series</h1>
        <h2 class=" text-xl lg:text-2xl font-semibold text-center pb-5 italic">Hosted by Tim Jedrek</h2>
        <p class="pb-5 text-md px-10 lg:text-xl text-left">The Right Rudder Marketing Webinar Series is a series created to inspire flight schools to achieve optimal success in their businesses.</p>
        <p class="pb-5 text-md px-10 lg:text-xl text-left">Tim Jedrek is a digital marketing expert and a pilot.  Tim Jedrek has years of experience in management and leadership working with sales and marketing teams, decades of experience in computer science and programming, and experience working in flight schools interacting with customers and aircraft.</p>
        <p class="lg:pb-20 text-md px-10 lg:text-xl text-left">On each episode, Tim will go over topics that will help flight schools develop their very own Flight School Marketing System.  Tim will also be sitting down with industry leaders to talk about their processes, the lessons they learned, and how to find success in aviation and business.</p>
      </div>
    </div>
  </section>

  <!--Feed (@notams is already filtered down to just webinars via notam controller)-->
  <section class="bg-gradient-to-l from-slate-900 to-slate-800 lg:to-slate-700 text-slate-50">
    <div class="flex flex-col lg:flex-row">
      
      <!--Upcoming-->
      <div class="lg:w-1/2 flex flex-col items-center lg:pb-20">
        <h2 class="text-3xl font-bold py-10">Upcoming Webinars</h2>
        
        <% upcoming_webinar = @notams.upcoming.published.last %>
        <% if upcoming_webinar.present? %>
          <div class="lg:w-3/4 lg:rounded-xl bg-slate-100 text-slate-800">  
            <%= link_to upcoming_webinar, class: "" do %>
              <%= image_tag upcoming_webinar.feature_image.url, class: "lg:rounded-t-xl w-full", alt: "picture for article: #{upcoming_webinar.title}" %>
              <div class="px-5 pb-5">
                <h3 class="font-bold text-xl pt-5"><%= upcoming_webinar.title %></h3>
                <div class="pb-5 font-semibold"><%=I18n.localize(upcoming_webinar.notam_date, :format => '%^a %^b %-d %Y') %></div>
                <div class="">
                  <%
                    truncated_text = upcoming_webinar.notam_body.truncate(250)
                    if truncated_text != upcoming_webinar.notam_body
                      truncated_text += link_to "Click to read more", upcoming_webinar, class: "text-blue-700 hover:underline"
                    end
                  %>
                  <%= raw truncated_text %>
                </div>
              </div>
            <% end %>
          </div>
          
        <% else %>
          New webinar coming soon!
        <% end %>
      </div>
      
      <!--Previous-->
      <div class="lg:w-1/2 flex flex-col items-center lg:pb-20">
        <h2 class="text-3xl font-bold py-10">Previous Webinars</h2>
        <% if @notams.previous.published.present? %>
          <% @notams.previous.published.each do |post| %> 
            <div class="flex flex-row items-center  lg:w-3/4 lg:rounded-lg h-24 lg:mb-3 hover:brightness-105 transition-all duration-300">
              <%= link_to post, data: { turbo: false }, class: "flex flex-row items-center" do%>
                <!--image-->
                <div class="w-2/5 flex flex-row items-center">
                  <%= image_tag post.feature_image.url, class: "object-cover object-center lg:rounded-l-lg h-24 w-full", alt: "picture for article: #{post.title}"%>
                </div>
                <div class=" pl-5 w-3/5 flex flex-col justify-center items-start h-24 text-md pr-5 bg-slate-50 lg:rounded-r-lg lg:bg-gradient-to-b from-slate-50 to-slate-200  ">
                  <div class="line-clamp-2 text-slate-800"><%= post.title %></div>
                  <div class="font-semibold text-sm pt-1 text-slate-800">
                    <%= I18n.localize(post.notam_date, :format => '%^a %^b %-d %Y') %>
                  </div>
                </div>
              <% end %>
            </div>
          <%end%>
        <%else%>
         No webinars published yet!
        <%end%>
      </div>
    </div>

  </section>
  


<%= render "shared/cta1" %>
<%= render "shared/footer" %>


