<%= render "shared/navbar" %>
<main class="bg-slate-50 w-full flex flex-col items-center justify-center">
  <!--Container for contents-->
  <div class="text-center lg:w-3/5 md:w-4/5">
    
    <h1 class="font-bold text-4xl py-10">You're registered!</h1>
    
    <!--Container for check-->
    <div class="flex flex-row justify-center">
      <!--circle of check-->
      <div class="bg-blue-200 rounded-full py-3 px-4 mb-10">
        <!--check itself-->
        <div class="text-ideal-blue text-5xl">✓</div>
      </div>
    </div>
    
  
    <div class="grid place-items-center">
      <p class="px-5 max-w-3xl p-text">
      Thank you for registering for the upcoming Right Rudder Marketing webinar.  We are looking forward to meeting with you soon.  You will receive an email shortly with a link and calendar invite to the webinar Zoom room.
      <br><br>
      If you're interested in scheduling a FREE discovery call with the Right Rudder Marketing team, you can visit our <%= link_to "scheduling page", schedule_call_path, class: "text-blue-800 hover:underline"%>.
      You can also give us a call at <%=link_to "1-314-804-1200", "tel:1-314-804-1200", class: "text-blue-800 hover:underline" %> or email us at <%= mail_to 'info@rightruddermarketing.com', class: "text-blue-800 hover:underline"%>
      </p>
    </div>

    <div class="pt-10 flex flex-row justify-center">
    <%= link_to root_path do %>
      <div class="btn-primary mb-10 w-52">
        HOME
      </div>
    <% end %>
    </div>
    

    <%#= link_to 'Back to messages', messages_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</main>

<%= render "shared/footer"%>