<%= form_with(model: message, class: "contents") do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2>Please fix the following <%= pluralize(message.errors.count, "error") %>:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full focus:border-blue-800 focus:ring-blue-800" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.email_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full focus:border-blue-800 focus:ring-blue-800" %>
  </div>

  <%= invisible_captcha :confirm_email, :checklist_email %>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, placeholder: "xxx-xxx-xxxx", class: "placeholder:text-slate-300 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full focus:border-blue-800 focus:ring-blue-800" %>
  </div>

  <div class="my-5 flex items-center gap-5">
    <%= form.check_box :sms, class: "rounded-md w-6 h-6" %>
    <span>I agree to be contacted via SMS</span>
  </div>

  <div class="my-5">
    <%= form.label "How can we help?" %>
    <%= form.text_area :content, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full focus:border-blue-800 focus:ring-blue-800" %>
  </div>

  <div class="inline">
    <%= form.submit "SEND", class: "rounded-xl py-2 px-5 bg-blue-800 text-white inline-block font-medium cursor-pointer hover:scale-105 hover:bg-blue-700 duration-300" %>
  </div>
<% end %>
