<%= render "shared/navbar"%>


<div class="flex flex-col-reverse lg:flex-row lg:py-10 lg:px-5 lg:items-center">
  <div class="lg:w-1/2">
    <div class="">
      <!--Row 1-->
      <div class="flex lg:flex-row flex-col">
        <%= image_tag "tim-tonie.webp", class: "lg:h-48 object-contain", alt: "Tim Jedrek and Tonie at a flight school trade show.  Contact Right Rudder Marketing"%>
        <div class="grid place-items-center lg:py-0 py-5 px-5 bg-slate-100 text-blue-900 font-semibold text-2xl italic text-center lg:text-left">
          Let's get in touch.  Fill out the form and we'll reach out to your shortly.  Looking forward to talking to you soon.
        </div>
      </div>

      <div class="flex lg:flex-row flex-col-reverse">
        <!--Row 2-->
        
        <div class="grid place-items-center lg:py-0 py-5 px-5 bg-blue-900 text-slate-50 font-semibold text-2xl italic text-center lg:text-left">
          Right Rudder Marketing is the only pilot owned digital marketing agency that has gone through the flight training process.
        </div>
        <%= image_tag "tim-flying.webp",  class: "lg:h-52 object-contain", alt: "Tim Jedrek flying a small plane.  Contact Right Rudder"%>
      </div>

      <div class="flex lg:flex-row flex-col">
        <!--Row 3-->
        <%= image_tag "tim-airport.webp",  class: "lg:h-60 object-contain", alt: "Tim Jedrek at a small airport.  Contact Right Rudder Marketing"%>
        <div class="grid place-items-center lg:py-0 py-5 px-5 bg-slate-100 text-blue-900 font-semibold text-2xl italic text-center lg:text-left">
          Can't wait to meet you and grow your flight school.  Let's fly together.
        </div>
      </div>
    </div>
  </div>
  <div class="lg:w-1/2 flex flex-col">
    <div class="px-5 lg:px-10 pt-10">
      <h2 class="text-3xl font-bold">Start a Conversation with Right Rudder Marketing</h2>
    </div>
    <div class="px-5 lg:px-10">
      <%= render "form", message: @message %>
    </div>
  </div>
</div>
<%= render "shared/footer"%>



