<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.representable? %>
    <%= image_tag blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [ 800, 600 ] : [ 1024, 768 ]) %>
  <% end %>

  <figcaption class="attachment__caption">
    <% if caption = blob.try(:caption) %>
      <span><%= caption %></span> •
    <% end %>
    <span class="attachment__name"><%= blob.filename %></span> •
    <span class=""><%= number_to_human_size blob.byte_size %></span> •
    <span class="underline"><%= link_to "View full size", rails_blob_path(blob), class: "target" %></span> •
    <span class="attachment__download underline"><%= link_to "Download", rails_blob_path(blob, disposition: "attachment") %></span>
    <%# end %>
  </figcaption>
</figure>
