<div class="lg:pl-72 p-10">
  <div class="w-1/2 border shadow-sm mx-auto flex flex-col gap-5 items-center p-5">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "flex flex-col gap-5" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="my-5">
        <%= f.label :profile_image %>
        <% if resource.profile_image.attached? %>
          <div id="<%= dom_id(resource, :profile_image) %>">
            <%= image_tag resource.profile_image, class: "w-1/3"  %>
            <%= link_to "Remove profile image", profile_image_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </div>
        <% end %>
        <%= f.file_field :profile_image, accept: 'image/jpeg, image/png', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", data: {turbo: false}, class: "bg-green-600 mt-5 py-3 px-6 rounded-full text-white cursor-pointer font-medium" %>
      </div>
    <% end %>
  </div>
</div>
