<hr/>
<div id="<%= dom_id(comment) %>">
  <div class="grid grid-cols-[12rem_auto] gap-4 py-4 relative" data-controller="ticket-options">

    <% if comment.variant == "comment" %>
      <%= render "comments/options", comment: comment %>
    <% end %>
    
    <div class="flex justify-between gap-2">
      <div class="text-sm text-gray-600">
        <p><%= formatted_date(comment) %></p>

        <% if display_time?(comment) %>
          <p><%= comment.created_at.strftime("%l:%M%P") %></p>
        <% end %>
      </div>

      <%= user_profile_image(comment.user) %>
    </div>

    <div>
      <% if comment.variant == "comment" %>
        <p class="font-semibold"><%= comment.user.username %></p>
      <% end %>
      <p><%= comment.content %></p>
    </div>
  </div>
</div>
