<div id="<%= dom_id task %>" class="flex gap-10 items-center">
  <p class="uppercase">
    <%= task.due_date.strftime("%a, %b %d") %>
  </p>
  <%= form_with(model: [@account, task], data: {controller: "tasks", tasks_target: "form"}) do |form| %> 
    <%= form.check_box :completed, class: "size-6", data: {action: "change->tasks#submit"} %>
  <% end %>
  <%= link_to account_task_path(@account, task) do %>
    <p class="<%= task.completed ? "text-gray-500" : "" %>">
      <%= task.title %>
    </p>
  <% end %>
</div>
