<div class="box">
  <h1>Customer Portal Notification</h1>

  <h2><%= @comment.account.name %></h2>

  <p><%= @actor.first_name %> changed the due date to <%= @comment.ticket.new_due_date %> of the squawk: <%= @comment.ticket.title %>.</p>

  <%= link_to "View Squawk", account_ticket_url(@comment.account, @comment.ticket), class: "button", target: "_blank" %>
</div>
