<div id="<%= dom_id gmb_email %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= gmb_email.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= gmb_email.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= gmb_email.email %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this checklist email", gmb_email, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this checklist email', edit_gmb_email_path(gmb_email), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
