<% title("Google My Business for Flight Schools and Aviation Businesses") %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar"%>

  <header class="w-full h-screen-80 lg:h-screen-3/4 flex flex-col justify-center items-center bg-cover bg-farm-selfie text-white bg-top">
    
    <!--Header Text-->
    <div class="flex flex-col justify-center w-full px-5 text-right lg:-mt-40">
      <h1 class="font-bold text-3xl lg:text-6xl uppercase italic">How To Optimize Your <br class="hidden lg:block">Google My Business Profile</h1>
      <h2 class="text-lg lg:text-3xl font-semibold pt-7 lg:pt-10">Optimizing your GMB profile to <br class="hidden lg:block">rank your flight school on top in 2024</h2>
    </div>

    <!--Buttons-->
    <div class="flex flex-col lg:flex-row lg:justify-end lg:w-full pt-5 gap-5">
      <%= link_to "SCHEDULE CALL", schedule_call_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
      <%= link_to "CONTACT US", contact_path, class: "font-semibold border-2 border-orange-500 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-orange-500 rounded-lg text-center py-2 px-5 mr-2" %>
    </div>
  </header>

  <section class="flex flex-col items-center bg-gradient-to-b from-white to-blue-200">
    
    <div class="max-w-3xl px-5 pt-20 ">
      <h3 class="text-5xl font-bold italic text-center pb-10">What is a <br>Google My Business Profile?</h3>
      <p>
        Sometimes referred to as a GMB (Google My Business) or GBP (Google Business Page), the two acronyms are synonymous.  
        A Google My Business Profile, or GMB, is like your <b>online business card on Google</b>. It's a simple, yet powerful, tool that helps people find and connect with your business. 
        Think of your GMB profile as a snapshot of your business. It includes essential info like your address, phone number, and hours of operation. 
        But it's more than just contact details. It's a chance to highlight what makes your business special - whether it's your top-notch service, exclusive deals, or unique offerings.
      </p>

      <div class="w-full flex flex-col items-center pt-10">
        <%= image_tag "gmb-example.webp", class: "lg:w-1/2 ", alt: "Example of a Google Business Page"%>
        <p class="text-slate-600 italic text-base">
          Example of a Google Business Page
        </p>
      </div>

      <p class="pt-10">
        On organic search, if you look up the name of a business, the GMB profile shows to the right of the screen.  
        In terms of online directory listings, this is the most powerful and highest impact directory listing you can create as it has a direct performance on your <%= link_to "organic search rankings", seo_path, class: "text-blue-800 hover:underline"%> and also allows you to start being put and found on Google Maps.
      </p>


      <h4 class="py-10 text-2xl font-semibold">
        Strategies we employ to optimize GBP
      </h4>
      <h4 class="italic text-xl pb-5">Consistent NAP</h4>
      <p class="pb-5">
        NAP refers to <em>name, address, and phone number.</em>  We start by ensuring that your business details are accurate as far as your NAP goes along with your hours of operation.  
        We use the GMB directory listing as a foundation or base and use it as a template for other directory listings.  When we start looking at and claiming other online directory listings, we base it off the information found on your GMB profile so we need to make sure this is correct.
      </p>
      <h4 class="italic text-xl pb-5">Optimized business description</h4>
      <p class="pb-5">
        The next thing to consider is what <b>keywords</b> you want to rank for.  When prospective student pilots are looking for flight schools online, they are going to be searching for and inputting specific keywords into the search engines.
        The most commonly search keyword is "flight school" or "flight school near me".  Other notable keyword searches include, "how to become a pilot", "pilot school", "discovery flight", and "pilot training".  
        With these keywords in mind, we're going to append to the end of the keyword the locations that pertain to your flight school area.  
        Let's say we have a flight school in Kansas City, MO.  Then one of the keywords we might want to use is "flight school Kansas City".  However, it doesn't stop there.
        Think of where your local airport is specifically.  Keeping our Kansas City, MO example alive, let's say we're a flight school in KOJC which is Johnson County Executive Airport.  
      </p>
      <div class="w-full flex flex-col items-center pb-5">
        <%= image_tag "kansas-city-kojc-johnson-county-airport.webp", class: "", alt: "Map Around KOJC Johnson County Airport"%>
        <p class="text-slate-600 italic text-base">
          Map Around KOJC Johnson County Airport
        </p>
      </div>
      <p class="pb-5">
        Looking around the area, we have different towns, municipalities, and cities that are far removed from just Kansas City.  Overland Park, Craig, and Olathe seem to be the biggest locations after Kansas City.  
        But we can delve even deeper than that.  Immediately around KOJC, we have smaller communities like Havencroft, Blackbob Marketplace, and Blue Valley.  These are some of the locations that we want to incorporate into our keywords.
      </p>
      <p class="pb-5">
        By understanding what keywords are being searched for, we can use those keywords in all of our marketing efforts especially our GMB profile. 
        Check out our <%= link_to "🔥 hot keyword list", keyword_path, class: "text-blue-800 hover:underline"%> to download a list of the most commonly search for keywords in the flight school industry.
        We're going to use those keywords and sprinkle them in our description. And by doing so, we're going to gradually start showing up higher on search and all we had to do is <b>add targeted keywords into our Google Business Profile Description</b>.
      </p>

      <h4 class="italic text-xl pb-5">Services and products</h4>
      <p class="pb-5">
        One of the core elements to optimize on your GMB profile is adding your services and products to the GBP page.
      </p>
      <div class="w-full flex flex-col items-center pb-5">
        <%= image_tag "gmb-products-services.webp", class: "", alt: "Google Business Admin Buttons for Products and Services"%>
        <p class="text-slate-600 italic text-base">
          Google Business Admin Buttons for Products and Services
        </p>
      </div>
      <p class="pb-5">
        Showcasing products and services on your GMB profile is like setting a clear flight path for potential students. 
        Ensure your GMB page highlights the range of courses you offer, from beginner private pilot training to advanced certifications. 
        Clearly list the unique features that set your flight school apart, whether it's state of the art simulators, experienced instructors, or flexible scheduling options.
      </p>
      <h4 class="italic text-xl pb-5">Photos and videos</h4>
      <p class="pb-5">
        Adding photos and videos to your Google Business is a powerful tool to rank higher in organic search and maps.
      </p>
      <div class="w-full flex flex-col items-center pb-5">
        <%= image_tag "gmb-photos.webp", class: "", alt: "Google Business Admin Buttons for Photos and Videos"%>
        <p class="text-slate-600 italic text-base">
          Google Business Admin Buttons for Photos and Videos
        </p>
      </div>
      <p class="pb-5">
        Whenever your students and customers leave a review and attach an image, they automatically get added to your GBP's image collection.  However, you can also add your own photos and videos.
        The more photos and videos that are uploaded to your Google Business, the more authoritative you appear both to your future customers and to Google's search algorithms.
        We consistently add photos and videos to your profile to keep your business relevant and sticking to the top of the rankings.
      </p>
      <p class="pb-5">
        Some "hacks" we utilize includes renaming the photo file and incorporating geo-tagging.  Typically, most people load up the default file name created by your phone or camera (for example IMG_1234.jpg).  
        Remember how we were talking about keywords earlier?  You can rename the image to "johnson-county-airport-private-pilot-checkride-pass.jpg" or something similar and incorporate keywords that way.
        In addition, all photos have data appended to them called "meta data".  This includes the type of camera used, ISO settings, aperture, and most importantly GPS coordinates of where the photo was taken.
        We can artificially add a GPS location and pretend that the photo was taken at a specific location.  Let's say we're ranking low in the Havencroft area.  We will upload a photo to your GMB that has GPS coordinates saying that the picture was taken at Havencroft.
        This tells the Google algorithm that there's something relevant to your flight school business and that location.
      </p>
      <h5 class="pb-5 text-2xl font-semibold">
        Consistently update your GMB profile by adding photos, videos, and updates to your rank flight school on top.
      </h5>
      <h4 class="italic text-xl pb-5">Updates</h4>
      <p class="pb-5">
        Another feature of GBP is that you can add updates to your business to your profile.  One of the key services we provide to our clients is adding monthly blog posts to their website.  This helps by creating more content on our flight school's website for Google's search robots to parse through.
        We can add links to our blog posts to our Google Business profile.  In the updates text section, we can again use the keywords we are targeting.
        The more updated and new a GBP is, <b>the higher it will rank</b>.  Many business owners establish their GMB but never do anything after initial set up.  By incorporating blog posts and news to our GMB, we can stay relevant and position our businesses to come out on top.
      </p>
      <div class="w-full flex flex-col items-center pb-5">
        <%= image_tag "gmb-updates.webp", class: "", alt: "Google Business Admin Button for Updates"%>
        <p class="text-slate-600 italic text-base">
          Google Business Admin Button for Updates
        </p>
      </div>
      <h4 class="italic text-xl pb-5">Reviews</h4>
      <p class="pb-5">
        Considered to be the most impactful part of a Google Business Profile is having a ton of excellent 5 star reviews.  Make sure you are consistently asking your students and customers to leave reviews on your GMB, Facebook, and Yelp. 
        The best time to ask for reviews are after checkrides since your student is going to be very enthusiastic about your flight school.  After all, you just gave them wings.  Make a concerted effort to ask for reviews and don't forget to respond to your reviews.
      </p>
      <div class="w-full flex flex-col items-center pb-5">
        <%= image_tag "tim-jedrek-google-review-5-stars.webp", class: "", alt: "Tim Jedrek leaving a 5 star review at a flight school he flew at"%>
        <p class="text-slate-600 italic text-base">
          Tim Jedrek leaving a 5 star review at a flight school he flew at
        </p>
      </div>
      <h4 class="italic text-xl pb-5">Additional Elements</h4>
      <p class="pb-5">
        Google Business offers additional functionality like calls, chats, bookings.  While not needed necessarily, the more features you use in your Google Business Profile, the better your flight school business will be positioned in organic search and maps.
        Right Rudder Marketing optimizes the GMB accounts of all our clients as a part of our strategy in our <%= link_to "Flight Schoool Marketing System", marketing_system_path, class: "text-blue-800 hover:underline"%>.
      </p>
    </div>
  </section>

  <section class="flex lg:flex-row flex-col-reverse bg-gradient-to-b from-blue-900 to-blue-950 text-slate-50">
    <div class="flex flex-col items-center justify-center lg:w-1/2 py-10 lg:py-0">
      <%= image_tag "pitcairn-logo-250-vertical-white.svg", alt: "Pitcairn Flight Logo", class: "w-3/4"%>
    </div>
    <div class="flex flex-col items-center justify-center lg:w-1/2 p-5">
      <h4 class="text-5xl font-semibold italic font-serif pt-10 lg:pt-0">CASE STUDY</h4>
      <p class="py-10 lg:mx-20">
        Introducing Pitcairn Flight Academy.  This is a flight school we just started working on a few months ago.
      </p>
      <h5 class="lg:mx-20 font-semibold text-xl italic">
        We helped Pitcairn Flight Academy rank on Google search and Maps driving more customers to call and start training at their school.
      </h5>
    </div>
  </section>
  <section class="flex flex-col items-center bg-gradient-to-b from-white to-blue-200">
    <div class="max-w-3xl px-5 pt-20 ">
      <h3 class="text-5xl font-bold italic text-center pb-10">The Challenge</h3>
      <p>
        When David and his team from Pitcairn Flight Academy gave Right Rudder Marketing a call, he needed help with establishing their flight school online.  
        As a relatively new flight school, they didn't have anything on the internet and knew they needed to do something to establish their online presence.
        With no website and no Google Business Profile established, his business would get phone calls asking if they were even in business and if they were a real flight school.  He relied solely on word of mouth and references to get business.
      </p>
      <h3 class="text-5xl font-bold italic text-center py-10">What We Did</h3>
      <p>
        The first thing we did was set out to create an <%= link_to "SEO optimized website", website_path, class: "text-blue-800 hover:underline"%>.  We met with David and his team to really understand what their flight school business was all about.
        We then did in depth research of their local area and created a list of target long tail keywords to incorporate on their website and GMB profile.
        After creating the website and deploying it, we went to work on off page SEO and Google Business Profile optimization.  We registered their business on Google and created their GMB profile.
      </p>
      <h3 class="text-5xl font-bold italic text-center py-10">The Results</h3>
      After only one month of setting up the website and Google Business Profile, they are now ranking number 1 in areas around their airport.  This is only after one month! 
      Coming from not having anything online, this is a significant boost to their credibility and positioning in the flight school market in their local area.

      <div class="w-full flex flex-col items-center py-10">
        <%= image_tag "pitcairn-heat-map.webp", class: "", alt: "Heatmap showing Pitcairn's ranking around their airport"%>
        <p class="text-slate-600 italic text-base">
          Heatmap showing Pitcairn's ranking around their airport
        </p>
      </div>
      <p>
        While there's more work that needs to be done, after one month we're already seeing results.  They're ranking #1 in certain areas so now our next step is looking at the areas that aren't ranking well.  
        This includes adding new content to their site and incorporate those location based keywords, continually updating their GMB profile, and expanding their presence online.  
        SEO and ranking high on search is a long term game and multiple strategies need to be employed to rank high.
      </p>

      <!--Testimonial-->
      <div class="flex flex-col lg:flex-row py-10">
        <div class="lg:w-1/2 flex flex-col items-center">
          <%= image_tag "pitcairn-flight-marisa.webp", class: "rounded-full w-1/2 mb-10 lg:mb-0", alt: "Marisa "%>
        </div>
        <div class="lg:w-1/2">
          <p class="italic text-slate-800">
            "I love the team at Right Rudder Marketing.  The website they made for us is awesome and we're getting calls and students filling out our forms.  The team at Right Rudder Marketing is great!"
            <br><br>
            -Marisa, Operations Manager at Pitcairn Flight Academy
          </p>
        </div>
      </div>


    </div>
  </section>

  <section class="flex lg:flex-row flex-col-reverse bg-gradient-to-b from-blue-900 to-blue-950 text-slate-50">
    <div class="flex flex-col items-center justify-center lg:w-1/2 py-10 lg:py-0">
      <%= image_tag "simplifly_500.webp", alt: "SimpliFly Logo", class: "w-1/2 py-10"%>
    </div>
    <div class="flex flex-col items-center justify-center lg:w-1/2 p-5">
      <h4 class="text-5xl font-semibold italic font-serif pt-10 lg:pt-0">CASE STUDY</h4>
      <p class="py-10 lg:mx-20">
        Introducing SimpliFly.  A flight school in the highly competitive area of Mesa, AZ.
      </p>
      <h5 class="lg:mx-20 font-semibold text-xl italic">
        We helped SimpliFly 10X the amount of leads coming to their school so they can train more pilots and expand their fleet.
      </h5>
    </div>
  </section>
  <section class="flex flex-col items-center bg-gradient-to-b from-white to-blue-200">
    <div class="max-w-3xl px-5 pt-20 ">
      <h3 class="text-5xl font-bold italic text-center pb-10">The Challenge</h3>
      <p>
        When Blake from SimpliFly gave Right Rudder Marketing a call, they were looking to update their website and get more leads coming into their school to increase their revenue.  They had a WordPress website already built out, social media profiles, and a GMB listing, but they weren't seeing much progress in their online rankings.
        With multiple flight schools at their airport competing for prospective students' attention, Blake knew he needed to do something about his digital marketing.  They were ranking way below the first page of search and on the Google Map listings they were #14, well below the view so 
        potential customers had difficulty even knowing they existed.
      </p>
      <h3 class="text-5xl font-bold italic text-center py-10">What We Did</h3>
      <p>
        The first thing we did was research the local area and their competition.  With so many flight schools in their area, we had to understand what keywords were being searched for and then come up with a strategy to really accelerate their growth.
        We created an <%= link_to "awesome website", website_path, class: "text-blue-800 hover:underline"%> for them which really highlighted their main program: accelerated pilot training.
        We used target keywords in their website and GMB profile to really take things up a notch and we've seen great results.
      </p>
      <h3 class="text-5xl font-bold italic text-center py-10">The Results</h3>
        They are now getting flooded with inquiries and phone calls asking about their flight school.  
        They're ranking on the first page of Google Search and Google Maps.

      <div class="w-full flex flex-col items-center py-10">
        <%= image_tag "simplifly-heat-map.webp", class: "", alt: "Heatmap showing SimpliFly's ranking around their airport"%>
        <p class="text-slate-600 italic text-base">
          Heatmap showing SimpliFly's ranking around their airport
        </p>
      </div>
      <p>
        Our focus now is looking at where they are ranking as #4.  This is important because Google's first page listings only contain three businesses.  
        When we get a flight school to rank as #3 or higher, their business exponentially increases.
      </p>

      <!--Testimonial-->
      <div class="flex flex-col lg:flex-row py-10">
        <div class="lg:w-1/2 flex flex-col items-center">
          <%= image_tag "blake-simplifly.webp", class: "rounded-full w-1/2 mb-10 lg:mb-0", alt: "Blake"%>
        </div>
        <div class="lg:w-1/2">
          <p class="italic text-slate-800">
            "Right rudder marketing has been a huge help and blessing in our business. They made an amazing website for us.  They also understand aviation and pilots which is a huge help. If you own a flight school then you definitely need to use right rudder marketing."
            <br><br>
            -Blake, Owner at SimpliFly
          </p>
        </div>
      </div>


    </div>
  </section>

<!--Sticky DIV-->
</div>
<%= render "shared/cta1"%>
<%= render "shared/footer"%>