<% title("Google Ads for Flight Schools and Aviation Businesses") %>
<% meta_description("Many flight schools use Google Ads to get the competitive edge and enroll more students and train more pilots.  But most flight school business owners don't know the right way to set up a Google Ad campaign to be set up for success.  Read below to see how Right Rudder Marketing runs Google Ads in 2024") %>
<% meta_keywords("How to google ads pilot school, google ads flight school, google ad set up for flight schools") %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar"%>

  <header class="w-full lg:h-screen-80 h-screen-1/2 flex flex-col justify-center items-center bg-cover bg-tim-cessna text-white bg-right sm:bg-center">
    
    <!--Header Text-->
    <div class="flex flex-col justify-center w-full px-5 text-left ">
      <h1 class="font-bold text-3xl lg:text-6xl uppercase italic">Running Effective <br class="hidden lg:block">Google Ads</h1>
      <h2 class="text-lg lg:text-3xl font-semibold pt-7 lg:pt-10">How to use Google Ads to <br class="hidden lg:block">market your flight school </h2>
    </div>

    <!--Buttons-->
    <div class="flex flex-col lg:flex-row lg:justify-start lg:ml-5 lg:w-full pt-5 gap-5">
      <%= link_to "SCHEDULE CALL", schedule_call_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
      <%= link_to "CONTACT US", contact_path, class: "font-semibold border-2 border-orange-500 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-orange-500 rounded-lg text-center py-2 px-5 mr-2" %>
    </div>
  </header>
  <section class="bg-blue-950 text-orange-400">
    <div class="flex flex-col lg:flex-row py-10 lg:gap-8 gap-10">
      <div class="lg:w-1/3 px-5 flex flex-col items-center justify-center">
        <div class="flex items-center gap-5">
          <div class="px-6 py-4 rounded-full bg-orange-400 fill-blue-950">
            <span class="">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" aria-hidden="true" class="w-6"><g id="Mouse Pointer1_layer"><path d="M302.189 329.126H196.105l55.831 135.993c3.889 9.428-.555 19.999-9.444 23.999l-49.165 21.427c-9.165 4-19.443-.571-23.332-9.714l-53.053-129.136-86.664 89.138C18.729 472.71 0 463.554 0 447.977V18.299C0 1.899 19.921-6.096 30.277 5.443l284.412 292.542c11.472 11.179 3.007 31.141-12.5 31.141z"></path></g></svg>
            </span>
          </div>
          <span class="font-bold text-2xl">
            Get the most targeted clicks via Google Ads
          </span>
        </div>
      </div>
      <div class="lg:w-1/3 px-5 flex flex-col items-center justify-center">
        <div class="flex items-center gap-5">
          <div class="px-5 py-3 rounded-full bg-orange-400 fill-blue-950">
            <span class="">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" aria-hidden="true" class="w-10"><g id="Phone Volume2_layer"><path d="M97.333 506.966c-129.874-129.874-129.681-340.252 0-469.933 5.698-5.698 14.527-6.632 21.263-2.422l64.817 40.513a17.187 17.187 0 0 1 6.849 20.958l-32.408 81.021a17.188 17.188 0 0 1-17.669 10.719l-55.81-5.58c-21.051 58.261-20.612 122.471 0 179.515l55.811-5.581a17.188 17.188 0 0 1 17.669 10.719l32.408 81.022a17.188 17.188 0 0 1-6.849 20.958l-64.817 40.513a17.19 17.19 0 0 1-21.264-2.422zM247.126 95.473c11.832 20.047 11.832 45.008 0 65.055-3.95 6.693-13.108 7.959-18.718 2.581l-5.975-5.726c-3.911-3.748-4.793-9.622-2.261-14.41a32.063 32.063 0 0 0 0-29.945c-2.533-4.788-1.65-10.662 2.261-14.41l5.975-5.726c5.61-5.378 14.768-4.112 18.718 2.581zm91.787-91.187c60.14 71.604 60.092 175.882 0 247.428-4.474 5.327-12.53 5.746-17.552.933l-5.798-5.557c-4.56-4.371-4.977-11.529-.93-16.379 49.687-59.538 49.646-145.933 0-205.422-4.047-4.85-3.631-12.008.93-16.379l5.798-5.557c5.022-4.813 13.078-4.394 17.552.933zm-45.972 44.941c36.05 46.322 36.108 111.149 0 157.546-4.39 5.641-12.697 6.251-17.856 1.304l-5.818-5.579c-4.4-4.219-4.998-11.095-1.285-15.931 26.536-34.564 26.534-82.572 0-117.134-3.713-4.836-3.115-11.711 1.285-15.931l5.818-5.579c5.159-4.947 13.466-4.337 17.856 1.304z"></path></g></svg>
            </span>
          </div>
          <span class="font-bold text-2xl">
            Make your phone ring <br class="lg:block hidden">with new students
          </span>
        </div>
      </div><div class="lg:w-1/3 px-5 flex flex-col items-center justify-center">
        <div class="flex items-center gap-5">
          <div class="px-3 py-4 rounded-full bg-orange-400 fill-blue-950">
            <span class="">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" aria-hidden="true" class="w-14"><g id="Piggy Bank3_layer"><path d="M560 224h-29.5c-8.8-20-21.6-37.7-37.4-52.5L512 96h-32c-29.4 0-55.4 13.5-73 34.3-7.6-1.1-15.1-2.3-23-2.3H256c-77.4 0-141.9 55-156.8 128H56c-14.8 0-26.5-13.5-23.5-28.8C34.7 215.8 45.4 208 57 208h1c3.3 0 6-2.7 6-6v-20c0-3.3-2.7-6-6-6-28.5 0-53.9 20.4-57.5 48.6C-3.9 258.8 22.7 288 56 288h40c0 52.2 25.4 98.1 64 127.3V496c0 8.8 7.2 16 16 16h64c8.8 0 16-7.2 16-16v-48h128v48c0 8.8 7.2 16 16 16h64c8.8 0 16-7.2 16-16v-80.7c11.8-8.9 22.3-19.4 31.3-31.3H560c8.8 0 16-7.2 16-16V240c0-8.8-7.2-16-16-16zm-128 64c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16zM256 96h128c5.4 0 10.7.4 15.9.8 0-.3.1-.5.1-.8 0-53-43-96-96-96s-96 43-96 96c0 2.1.5 4.1.6 6.2 15.2-3.9 31-6.2 47.4-6.2z"></path></g></svg>
            </span>
          </div>
          <span class="font-bold text-2xl">
            Save BIG & Make MORE with our proven ads
          </span>
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col items-center bg-gradient-to-b from-white to-blue-200">
    
    <div class="max-w-3xl px-5 pt-20 ">
      <h3 class="text-center pb-5">
        PPC Advertising
      </h3>
      <h4 class="text-4xl font-bold italic text-center pb-10">Google Ads For Flight Schools: <span class="text-blue-800">The Ultimate Strategy</span></h4>
      <p class="pb-5">
        Google Ads, previously known as Google Adwords, are a form of PPC (Pay Per Click) advertising.  These advertising initiatives can produce quick, fast, and effective results if done right. 
        They are a way to make your business appear at the top of search results when people who are interested in flight training are searching for pilot training academies
        as well as a method to build a long term stream of leads that you can turn on and off at will.
      </p>

      <div class="w-full flex flex-col items-center pb-5">
        <%= image_tag "serp-google-new-york-flight-schools.webp", class: "lg:w-1/2 ", alt: "Example of a Facebook Ad"%>
        <p class="text-slate-600 italic text-base">
          Example of "Sponsored" Google Ads
        </p>
      </div>

      <h4 class="text-4xl font-bold italic text-center pb-5">How Does PPC Work?</h4>
      <p class="pb-5">
        Pay per click ads are just like the name implies.  For every click on Google on your ad, you need to pay a fee to Google.  
        It's a great way to get your flight school in front of targeted prospective students that are not in your immediate network.
        If you've established a website, then your website will list below the sponsored ads.  If you haven't properly <%= link_to "SEO Optimized", seo_path, class: "text-blue-800 hover:underline"%> your website,
        then your site will more than likely be found at the very bottom if not the next pages of the search results.
      </p>
      <p class="pb-5">
        A big concern with running PPC ads is how much it will cost.  For flight schools and aviation businesses, we've seen the cost per click (CPC) hover between $7 dollars and $20 dollars a click depending on the area and keywords chosen.
      </p>
      <p class="pb-5">
        You might be running the numbers in your right now.  If I get 100 clicks on my ad, then that can cost anywhere from $700 to $2000.  Which in turn may make you wonder if it's even worth it or not.
        The best question to ask yourself is how much is a student pilot worth in my flight school?
      </p>

      <h4 class="text-4xl font-bold italic text-center pb-5">How much is a student pilot worth?</h4>
      <p class="pb-5">
        Let's keep going with the 100 clicks example.  If out of those 100 leads, you contact all of them and 30 decide to show up to your flight school and do a tour or a discovery flight, you might get 10 or so that commit to coming again and train.  A 10% conversion rate which is typical in the flight school market.  With the $700 to $2000 dollars you spent, you now have 10 new students.  
        Most students who commit to training to at least their private pilot certificate will bring on average $10,000-$15,000 dollars of revenue to your school.  So you just paid $700 to $2000 to bring in more than $100,000 in revenue.  It's a good investment.
      </p>
      <p class="pb-5">
        However, you might be saying...
      </p>
      <h4 class="text-2xl font-bold italic text-center pb-5">I've tried running Google Ads before and it doesn't work!</h4>
    </div>
  </section>

  <section class="py-32 flex flex-col items-center bg-gradient-to-br from-white to-orange-100">
    <div class="max-w-2xl flex flex-col items-center">
      <div class="bg-red-500 px-12 py-7 w-min rounded-full font-serif text-white font-bold text-5xl mb-10">
        !
      </div>
      <h5 class="italic text-3xl text-center px-8 lg:px-0">Most PPC campaigns <span class="text-red-500 font-semibold">fail</span> because flight school owners <span class="text-red-500 font-semibold">fail</span> to understand how the Google Ads platform actually works to get leads.</h5>
    </div>
  </section>
  <section class="flex flex-col items-center bg-gradient-to-b from-white to-blue-200">
    
    <p class="pt-10 pb-5 text-center">
      Does this sound like you?
    </p>
    <div class="pb-5 max-w-4xl">
      <!--list-->
      <div class="flex flex-col lg:flex-row justify-center lg:items-start gap-5 px-5">
        <!--Column 1-->
        <div class="lg:w-1/2">
          <ul class="lg:pb-10 lg:pt-5 font-semibold">
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>  
                You are spending hundreds and thousands of dollars on Google Ads with little to no results...
              </div>
            </li>
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You are currently paying for PPC Google Ads management services but not seeing results
              </div>
            </li>
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You're tired of explaining how the flight training process and your pilot academy works to your marketing agency...
              </div>
            </li>
            <li class="lg:pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  Your Google Ad leads are inconsistent and not the right fit for your flight school...
              </div>
            </li>
          </ul>
        </div>
        
        <!--column 2-->
        <div class="lg:w-1/2">
          <ul class="lg:pb-10 lg:pt-5 font-semibold">
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  Your sales are stagnant and have slowed
              </div>
            </li>
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You are getting more leads from word of mouth than from Google Ads
              </div>
            </li>
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You're wondering why you're competitors are landing more jobs with Google Ads and you're not...
              </div>
            </li>
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You are not confident in your current Google Ads strategy and don't even know where to start...
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="max-w-3xl px-5">
      <p class="pb-5">
        We see so many flight schools that go into running a Google Ad campaign by themselves, pick a few keywords and stuff them all into one ad group, bid either too high or too low, and then send people directly to their homepage on their website for when people actually click. Or they use the Google Ad prompts when setting up a new account and let Google run your ads on autopilot and spend your money with no results. This is the wrong way to do it in so many ways.
      </p>
      <h4 class="text-4xl font-bold italic text-center pb-5">What's the right way to go about running Google Ads?</h4>
      <p class="pb-5">
        Google wants to make sure that even paid listings are relevant to the user that is searching. So the quality of your ads and the page that people land on is all relevant to where you get placed in paid listings, along with the cost per click you're willing to spend. 
        If a customer is searching for “how to become a pilot”, your ad isn't going to work well if it:
      </p>
      <ul class="lg:pb-10 lg:pt-5 font-semibold">
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="text-red-500 pr-3 font-extrabold">X</div>
              Doesn't have a headline that matches the user search term (ie. flight school, pilot training, etc.)
          </div>
        </li>
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="text-red-500 pr-3 font-extrabold">X</div>
              Doesn't give the viewer an incentive to call now and check your flight school out
          </div>
        </li>
        <li class="pb-2">
          <div class="flex flex-row">
            <div class="text-red-500 pr-3 font-extrabold">X</div>
              Doesn't give them a reason to choose your flight school over others
          </div>
        </li>
      </ul>
      <p class="pb-5">
        The same goes with the page that your customers go to when clicking your ad. It needs to be relevant.
      </p>
      <p class="pb-5">
        If this isn't done correctly you're back to square one. You're spending a lot of money paying more for ads than you need to pay and you're likely getting fewer calls than you should be. If the ad and landing page content doesn't answer the specific question or query they typed into Google's search bar, then you better believe it's unlikely they'll be reaching out to you.
      </p>
      <p class="pb-5">
        So what's the right way to go about doing Google ads?
      </p>
    </div>
    <div class="max-w-5xl px-5">
      <h4 class="text-4xl font-bold italic text-center pb-5 pt-10">The Right Rudder Marketing Method</h4>
      <h5 class="text-center pb-20">Engineer multiple ad groups and campaigns and campaigns.  Structure keywords, negative keywords, and locations properly to fit your ideal student pilot. Let's get your flight school more students!</h5>

      <ol class="ml-5 lg:ml-0 border-l border-blue-700 border-dashed md:flex md:justify-center md:gap-6 md:border-l-0 md:border-t">
        <!--First item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">1</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Google Ad Account Audit</h4>
            <p class="mb-3 text-slate-800">
              We look at the services you provide and find a space where you can thrive online with proper keywords. We'll use the keywords that your potential clients use to help match you together.
            </p>
          </div>
        </li>

        <!--Second item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">2</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Focused PPC Keyword Strategy</h4>
            <p class="mb-3 text-slate-800">
              We do an in-depth competitive analysis to create a tailor-made and winning SEO strategy. Most competitors use automated tools and miss out on context. We understand the flight training market thoroughly and specialize in helping pilot training academies thrive.
            </p>
          </div>
        </li>

        <!--Third item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">3</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Landing Page Creation</h4>
            <p class="mb-3 text-slate-800">
              We examine factors that Google considers when ranking your website. We take it a notch further by focusing on how Google ranks flight school websites to see areas we can improve.
            </p>
          </div>
        </li>
      </ol>
      <ol class="ml-5 lg:ml-0 border-l border-blue-700 border-dashed md:flex md:justify-center md:gap-6 md:border-l-0 md:border-t">
        <!--Fourth item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">4</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Conversion & Tracking Setup</h4>
            <p class="mb-3 text-slate-800">
              We improve everything on the website that affects your rankings. Optimization ranges from meta descriptions, title tags, user experience optimization.
            </p>
          </div>
        </li>

        <!--Fifth item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">5</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Launch The Ad Campaign</h4>
            <p class="mb-3 text-slate-800">
              We create content that provides value to the reader. It's easy to read, relevant, and no other website will have a website like yours.
            </p>
          </div>
        </li>

        <!--Sixth item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">6</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Ad Campaign Optimization</h4>
            <p class="mb-3 text-slate-800">
              Link building helps you rank on search engines. It helps search engines categorize your website as relevant. We connect you to major sites to improve your rankings organically by creating content your flight school audience will like.
            </p>
          </div>
        </li>
      </ol>
    </div>

    <div class="grid place-items-center pb-20">
      <%= link_to "SCHEDULE CALL", schedule_call_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
    </div>
  </section>
  
  <%= render "shared/cta2"%>

<!--Sticky DIV-->
</div>
<%= render "shared/cta1"%>
<%= render "shared/footer"%>