<% title("Google Ads for Flight Schools and Aviation Businesses") %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar"%>

  <header class="w-full lg:h-screen-80 h-screen-1/2 flex flex-col justify-center items-center bg-cover bg-tim-cessna text-white bg-right sm:bg-center">
    
    <!--Header Text-->
    <div class="flex flex-col justify-center w-full px-5 text-left ">
      <h1 class="font-bold text-3xl lg:text-6xl uppercase italic">Running Effective <br class="hidden lg:block">Google Ads</h1>
      <h2 class="text-lg lg:text-3xl font-semibold pt-7 lg:pt-10">How to use Google Ads to <br class="hidden lg:block">market your flight school </h2>
    </div>

    <!--Buttons-->
    <div class="flex flex-col lg:flex-row lg:justify-start lg:ml-5 lg:w-full pt-5 gap-5">
      <%= link_to "SCHEDULE CALL", schedule_call_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
      <%= link_to "CONTACT US", contact_path, class: "font-semibold border-2 border-orange-500 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-orange-500 rounded-lg text-center py-2 px-5 mr-2" %>
    </div>
  </header>

<section class="flex flex-col items-center bg-gradient-to-b from-white to-blue-200">
    
    <div class="max-w-3xl px-5 pt-20 ">
      <h3 class="text-center pb-5">
        PPC Advertising
      </h3>
      <h4 class="text-4xl font-bold italic text-center pb-10">Google Ads For Flight Schools: <span class="text-blue-800">The Ultimate Strategy</span></h4>
      <p class="pb-5">
        Facebook ads are a form of PPC (Pay Per Click) advertising.  These advertising initiatives can produce quick, fast, and effective results if done right. They are a way to make your business appear within the social media feeds of your target audience at the click of a button as well as build a long term stream of leads that you can turn on and off at will.
      </p>

      <div class="w-full flex flex-col items-center pb-5">
        <div class="flex flex-col lg:flex-row lg:gap-5">
          <%= image_tag "king-school-fb-ad.webp", class: "lg:w-1/2 ", alt: "Example of a Facebook Ad"%>
          <%= image_tag "trade-a-plane.webp", class: "lg:w-1/2 ", alt: "Example of a Facebook Ad"%>
        </div>
        <p class="text-slate-600 italic text-base">
          Example of Facebook Ads
        </p>
      </div>

      <h4 class="text-4xl font-bold italic text-center pb-5">How Does PPC Work?</h4>
      <p class="pb-5">
        Pay per click ads are just like the name implies.  For every click on Facebook and Instagram on your ad, you need to pay a fee to Meta.  
        It's a great way to get your flight school in front of targeted prospective students that are not in your immediate network.
        Whenever you post something on your social media profile, your post will only circulate and be syndicated to mostly people that have liked and followed your page.
        If you're looking for a way to expand your reach, Facebook ads acts like the classified ads in a newspaper.  You can get your business in front of people that have never heard of your flight school.
      </p>
      <p class="pb-5">
        A big concern with running PPC ads is how much it will cost.  For flight schools and aviation businesses, we've seen the cost per click (CPC) hover between $7 dollars and $20 dollars a click depending on the area and keywords chosen.
      </p>
      <p class="pb-5">
        You might be running the numbers in your right now.  If I get 100 clicks on my ad, then that can cost anywhere from $700 to $2000.  Which in turn may make you wonder if it's even worth it or not.
        The best question to ask yourself is how much is a student pilot worth in my flight school?
      </p>

      <h4 class="text-4xl font-bold italic text-center pb-5">How much is a student pilot worth?</h4>
      <p class="pb-5">
        Let's keep going with the 100 clicks example.  The type of facebook ad we specialize in and use is called "lead generation" ads.  These types of ads have a form that pops up on Facebook and Instagram and collects user data.  So with 100 "clicks", it is in fact 100 new leads to your business.
        If out of those 100 leads, you contact all of them and 30 decide to show up to your flight school and do a tour or a discovery flight, you might get 10 or so that commit to coming again and train.  A 10% conversion rate which is typical in the flight school market.  With the $700 to $2000 dollars you spent, you now have 10 new students.  
        Most students who commit to training to at least their private pilot certificate will bring on average $10,000-$15,000 dollars of revenue to your school.  So you just paid $700 to $2000 to bring in more than $100,000 in revenue.  It's a good investment.
      </p>
      <p class="pb-5">
        However, you might be saying...
      </p>
      <h4 class="text-2xl font-bold italic text-center pb-5">I've tried running Facebook Ads before and it doesn't work!</h4>
    </div>
  </section>

  <section class="py-32 flex flex-col items-center bg-gradient-to-br from-white to-orange-100">
    <div class="max-w-2xl flex flex-col items-center">
      <div class="bg-red-500 px-12 py-7 w-min rounded-full font-serif text-white font-bold text-5xl mb-10">
        !
      </div>
      <h5 class="italic text-3xl text-center px-8 lg:px-0">Most PPC campaigns <span class="text-red-500 font-semibold">fail</span> because business owners <span class="text-red-500 font-semibold">fail</span> to understand how the Meta Ads platform actually works to get leads.</h5>
    </div>
  </section>
  <section class="flex flex-col items-center bg-gradient-to-b from-white to-blue-200">
    
    <p class="pt-10 pb-5 text-center">
      Does this sound like you?
    </p>
    <div class="pb-5 max-w-4xl">
      <!--list-->
      <div class="flex flex-col lg:flex-row justify-center lg:items-start gap-5 px-5">
        <!--Column 1-->
        <div class="lg:w-1/2">
          <ul class="lg:pb-10 lg:pt-5 font-semibold">
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You spend hundreds and thousands of dollars on Facebook ads and boosting posts with inconsistent results.
              </div>
            </li>
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You are currently paying for PPC Facebook Ads management services and results have declined...
              </div>
            </li>
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You're current marketing provider doesn't understand your business and you're frustrated
              </div>
            </li>
            <li class="lg:pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  Your spending money on advertising and cost per lead keeps going up...
              </div>
            </li>
          </ul>
        </div>
        
        <!--column 2-->
        <div class="lg:w-1/2">
          <ul class="lg:pb-10 lg:pt-5 font-semibold">
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  Your competitors are aggressively advertising on Facebook, and you're wondering how to compete.
              </div>
            </li>
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You are getting tired of chasing leads who express interest and then ghost you...
              </div>
            </li>
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You're wondering why you're competitors are enrolling more students with Facebook Ads and you're not...
              </div>
            </li>
            <li class="pb-2">
              <div class="flex flex-row">
                <div class="text-red-500 pr-3 font-extrabold">X</div>
                  You are not confident in your current Facebook Ads strategy and don't even know where to start...
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="max-w-3xl px-5">
      <p class="pb-5">
        We see so many flight schools that go into running a Facebook Ad campaign by themselves, pick a few keywords and stuff them all into one ad group, bid either too high or too low, and then send people directly to their homepage on their website for when people actually click. Or they might boost a post from their social media profile in hopes of getting a new lead.  This is the wrong way to do it in so many ways.
      </p>
      <h4 class="text-4xl font-bold italic text-center pb-5">What's the right way to go about running Facebook Ads?</h4>
      <p class="pb-5">
        A thing to note about Facebook ads is that when people are using the platform, they aren't actively looking for flight schools or businesses to spend money on.  In fact, most people don't want to see any advertising on their feeds.  They just want to be entertained and watch videos or see pictures of their friends.
      </p>
      <p class="pb-5">
        This means that when you show a user your ad, if they don't know who you are to begin with, then they aren't going to care much for your business unless your ad is earth shattering (it's not).  This means we need to use the platform in a different way.
        We need to show your ads to only people who have previously expressed interest or has visited your website in the past.  This is known as a <b>retargeting ad</b>.
      </p>
    </div>
    <div class="max-w-5xl px-5">
      <h4 class="text-4xl font-bold italic text-center pb-5 pt-10">The Right Rudder Marketing Method</h4>
      <h5 class="text-center pb-20">Use lead generation retargeting ads and capture leads that already know about you, <br class="lg:block hidden">but haven't converted into a student pilot yet. Let's get those future pilots in your school!</h5>

      <ol class="ml-5 lg:ml-0 border-l border-blue-700 border-dashed md:flex md:justify-center md:gap-6 md:border-l-0 md:border-t">
        <!--First item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">1</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Secure Your Facebook Business Account</h4>
            <p class="mb-3 text-slate-800">
              We help you protect and setup your Facebook business properties to ensure your business is not compromised or face account bans/restrictions when advertising.
            </p>
          </div>
        </li>

        <!--Second item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">2</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Integrate and Automate CRM Processes</h4>
            <p class="mb-3 text-slate-800">
              We help you migrate your CRM contacts and setup trigger automation to help you optimize your sales process and lead conversion journey.
            </p>
          </div>
        </li>

        <!--Third item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">3</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Lead Conversion and Tracking Setup</h4>
            <p class="mb-3 text-slate-800">
              We setup your Facebook Pixel, and tracking conversion for leads and phone calls on your website and landing pages.
            </p>
          </div>
        </li>
      </ol>
      <ol class="ml-5 lg:ml-0 border-l border-blue-700 border-dashed md:flex md:justify-center md:gap-6 md:border-l-0 md:border-t">
        <!--Fourth item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">4</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Setup Your Ad Campaigns</h4>
            <p class="mb-3 text-slate-800">
              Our Facebook Meta Ads Flight School Marketing Specialists will set up your Facebook Ad campaign in 72 hours.
            </p>
          </div>
        </li>

        <!--Fifth item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">5</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Launch The Ad Campaign</h4>
            <p class="mb-3 text-slate-800">
              We will launch your Facebook Ad campaign and ensure they're producing leads within 24 hours after going live.
            </p>
          </div>
        </li>

        <!--Sixth item-->
        <li class="lg:w-1/3">
          <div class="flex-start flex items-center pt-2 md:block md:pt-0">
            <div class="-ml-[25px] mr-3 w-12 h-12 grid place-items-center rounded-full bg-blue-700 text-white md:-mt-[20px] md:ml-0 md:mr-0 hover:scale-110 hover:bg-blue-800 duration-300">6</div>
          </div>
          <div class="ml-4 mt-2 pb-5 md:ml-0">
            <h4 class="mb-1.5 text-xl font-semibold">Ad Campaign Optimization</h4>
            <p class="mb-3 text-slate-800">
              Right Rudder Marketing will ensure that your campaign is always performing within KPIs, and optimize for your growth!
            </p>
          </div>
        </li>
      </ol>
    </div>

    <div class="grid place-items-center pb-20">
      <%= link_to "SCHEDULE CALL", schedule_call_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
    </div>
  </section>
  
  <%= render "shared/cta2"%>

<!--Sticky DIV-->
</div>
<%= render "shared/cta1"%>
<%= render "shared/footer"%>