<% title("Search Engine Optimization (SEO) for Flight Schools") %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar"%>
  <header class="w-full h-screen-80 lg:h-screen-3/4 flex flex-col justify-center items-center bg-gradient-to-r from-slate-50 to-blue-300">
    <div class="flex mx-5">
      <div class="flex flex-col justify-center">
        <h1 class="font-bold text-3xl lg:text-6xl uppercase italic">SEO for Flight Schools</h1>
        <h2 class="text-lg lg:text-3xl font-semibold pt-7 lg:pt-10">Get Your Flight School to Rank on Top</h2>
      </div>
      <%= image_tag "bar-graph-increasing.webp", class: "w-32 object-contain lg:w-72", alt: "Increasing Bar Graph with Plane"%>
    </div>
    <div class="flex pt-5 lg:gap-5">
      <%= link_to "SCHEDULE CALL", schedule_call_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
      <%= link_to "CONTACT US", contact_path, class: "font-semibold border-2 border-orange-500 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-orange-500 rounded-lg text-center py-2 px-5 mr-2" %>
    </div>
  </header>

  <section class="flex flex-col">
    <div class="flex flex-col-reverse lg:flex-row">
      <div class="lg:w-1/2 lg:p-10" >
        <%= image_tag "seo-example.gif", class: "", alt: "example of a flight school rannking #1 on Google search"%>
      </div>
      <div class="lg:w-1/2 flex flex-col items-center">
        <h3 class="text-5xl font-bold pt-10">SEO is...</h3>
        <p class="text-2xl pt-5">Search Engine Optimization</p>
        <p class="pt-5 px-10">
          SEO is the process of getting your website to show up in the Organic (FREE / non sponsored) section of the search engines. 
          There are specific things that you can do both on and off your website to ensure that you show up when someone types “Flight School + Your City” into Google, Yahoo or Bing. 
        </p>
        <p class="pt-5 px-10 pb-10">
          In all of our years working with Flight Schools in some of the most competitive markets in the United States, we have developed a proven strategy that consistently gets our clients to the top of the search engines.
        </p>
      </div>
    </div>
  </section>

  <section class="flex flex-col items-center bg-gradient-to-b from-white to-blue-200">
    
    <%= image_tag "on-off-page-seo.webp", class: "lg:w-1/4", alt: "On page and off page SEO graphic"%>

    <div class="max-w-3xl px-5">
      <h3 class="text-5xl font-bold italic text-center pb-10">The Two SEO Methods Used to Rank Higher</h3>
      <p>
        There are two methods used in SEO to get your flight school to rank higher.
        The first is <b>on page optimization</b>.  What this entails is optimizing the code on your website so that search engines understand your page better.
        In addition to helping search engines understand your page better, Google, Bing, and Yahoo take consideration the user experience of the website.  
      </p>
      <h5 class="py-10 text-2xl font-semibold">
        If your website is loading slow or doesn't fit well in the screens of mobile phones, then your site will rank lower.
      </h5>
      <h4 class="italic text-xl pb-5">Page Speed</h4>
      <p class="pb-5">
        Many of you may be asking how to increase page speed.  
        It's helpful to understand how websites generally work that way you can understand how to optimize for page speed. 
        A website, in essence, is a bunch of code sent to your browser.  Your browser then interprets the code and then displays a webpage.  
        Just like the Right Rudder Marketing site you are looking at now. 
      </p>
      <p class="pb-5">
        Most marketing agencies and web designers aren't technical.  So they rely on editors to generate the code.  
        This may include WordPress, Wix, Squarespace, and GoDaddy.  These software packages are like a Boeing manufacturing plant. 
        They're big, take up alot of space, and are designed to build one type of plane.
        Building a website in this way means that the entire factory or software engine has to be loaded first, then that software has to build the finished product.  
        Metaphors aside, this bloatware is the biggest reason why websites built with a no-code editor are slow.
      </p>
      <p>
        What Right Rudder Marketing does differently is that we build the website from scratch and code line by line.  We only program using the absolute minimum requirements for the code to run which reduces file size and increases page speed.
      </p>
      <h5 class="py-10 text-2xl font-semibold">
        Right Rudder Marketing Websites load fast and are efficient.  They are optimized for mobile and all screen sizes.
      </h5>
      <h4 class="italic text-xl pb-5">Content</h4>
      <p class="pb-5">
        When it comes to optimizing your flight school's website for search engines like Google, content creation plays a pivotal role. By developing relevant and informative content that revolves around flight training, you not only provide valuable insights to your audience but also assist search engines in understanding the nature and purpose of your website. This, in turn, enhances your website's chances of ranking higher in search engine results.
      </p>
      <p class="pb-5">
        By incorporating flight school related keywords and phrases naturally into your website's content, you effectively signal to search engines that your flight school's website is a reliable and authoritative source in the flight training industry. By consistently creating content that aligns with your target audience's interests and search intent, you can establish your flight school as a go-to resource, thereby increasing your website's visibility and credibility.
      </p>
      <p class="">
        In addition to optimizing your website's static pages, maintaining an active blog is a powerful strategy to boost your on page SEO efforts. By regularly publishing informative and engaging blog posts on flight training topics, you not only keep your website fresh and up to date but also provide search engines with new content to index. Each blog post becomes an opportunity to incorporate relevant keywords, answer common questions, and provide valuable information to potential and current student pilots.
      </p>
      <h5 class="py-10 text-2xl font-semibold">
        Incorporate relevant keywords and phrases naturally into your website to become the authoritative source in the flight training industry.
      </h5>
      <h4 class="italic text-xl pb-5">Technical SEO</h4>
      <p class="pb-5">
        Technical SEO forms the foundation of a well optimized website, ensuring that search engines can easily crawl, understand, and index your flight school's content. Right Rudder Marketing specializes in implementing robust technical SEO strategies that enhance your website's visibility and improve its overall performance.
      </p>
      <p class="pb-5">
        This can include title and heading tags which are HTML elements programmed on your website.  Title tags are commonly found as the clickable headlines in search engine results.  By incorporating relevant keywords into your title tags, we can optimize them for search intent, improving the chances of attracting organic traffic. 
        Similarly, heading tags (H1, H2, etc.) help structure your content, making it more readable for both users and search engines.
      </p>
      <p class="pb-5">
        Another essential element of technical SEO is the implementation of XML sitemaps and a robots.txt file.  These files act as a blueprint of your website, listing all the important pages, URLs, and their hierarchical relationships. By submitting an XML sitemap to search engines, we facilitate their understanding of your website's structure and ensure that no valuable pages are missed during the crawling and indexing process. This enables search engines to efficiently discover and rank your flight school's web pages, resulting in improved visibility and organic traffic.
      </p>
      <h5 class="pb-10 text-2xl font-semibold">
        Correctly programming and optimizing your website helps search engines understand your flight school business better and therefore ranks your website higher.
      </h5>
    </div>
  </section>
  <section class="flex lg:flex-row flex-col bg-gradient-to-b from-blue-900 to-blue-950 text-slate-50">
    <div class="flex flex-col items-center lg:w-1/2">
      <%= image_tag "talk.webp"%>
    </div>
    <div class="flex flex-col items-center justify-center lg:w-1/2 p-5">
      <h4 class="text-5xl font-semibold italic font-serif pt-10 lg:pt-0">OFF PAGE SEO</h4>
      <p class="pt-10 lg:mx-20">
        Off page SEO focuses on building credibility, authority, and visibility through external factors outside of your website.
      </p>
      <div class="flex flex-col px-5 gap-3 pb-5 pt-10">
        <div class="flex flex-row ">
          <div class="text-rrm pr-2 font-extrabold">✈</div>
          <h5 class="lg:px-10 pl-4 p-text text-left">Link building</h5>
        </div>
        <div class="flex flex-row ">
          <div class="text-rrm pr-2 font-extrabold">✈</div>
          <h5 class="lg:px-10 pl-4 p-text text-left">Press release and newswire</h5>
        </div>
        <div class="flex flex-row ">
          <div class="text-rrm pr-2 font-extrabold">✈</div>
          <h5 class="lg:px-10 pl-4 p-text text-left">Directory listings</h5>
        </div>
        <div class="flex flex-row ">
          <div class="text-rrm pr-2 font-extrabold">✈</div>
          <h5 class="lg:px-10 pl-4 p-text text-left">Social media engagement</h5>
        </div>
      </div>
      <h5 class="lg:mx-20 font-semibold text-xl italic">
        SEO is a continuous process that involves consistent outreach to build an authoritative reputation.
      </h5>
    </div>
  </section>

  <section class="flex flex-col items-center bg-gradient-to-t from-white to-blue-200 py-10">
    <%= image_tag "off-page-seo.webp", class: "lg:w-96 px-5", alt: "off page SEO graphic"%>    
    <div class="max-w-3xl px-5">
      <h4 class="italic text-xl py-5">Link building</h4>
      <p class="pb-5">
        Back links are links on other sites that link to your website.  
        Acquiring high quality, authoritative backlinks from reputable websites enhances your flight school's credibility in the eyes of search engines. 
        Right Rudder Marketing specializes in identifying relevant industry sources, aviation publications, and influential websites to secure valuable backlinks. 
        These backlinks not only drive referral traffic but also signal to search engines that your flight school is a trusted and valuable resource within the flight training community.
      </p>
      <h4 class="italic text-xl pb-5">Press release and newswire</h4>
      <p class="">
        Press releases also play a crucial role in establishing your flight school as a thought leader and industry expert. 
        By sharing relevant and engaging press releases, we position your flight school as a reliable source of information within the aviation community. 
        This not only boosts your flight school's credibility but also contributes to off page SEO efforts by attracting inbound links from authoritative news websites, driving referral traffic, and improving search engine rankings.
      </p>
      <h5 class="py-10 text-2xl font-semibold">
        Get your flight school featured on news networks like Fox, Yahoo Finance, or the Associated Press and build authority.
      </h5>
      <h4 class="italic text-xl pb-5">Directory listings</h4>
      <p class="">
        Online directories and review platforms are additional ways we utilize for off page SEO. 
        We optimize your flight school's presence on relevant directories and encourage positive reviews from satisfied students. 
        This enhances your flight school's online reputation and credibility while also driving targeted traffic to your website. 
        We've helped flight schools get listed on AOPA, Garmin, Foreflight, and their airport's or FBO's websites.
        Other directories include sites like Yelp, Google My Business, and Apple Maps. 
        In addition, we help fix inconsistent name, address, phone number (NAP) on your listings.  If your NAP is inconsistent and varied then search engines get confused and it can hurt your SEO. 
      </p>
      <h5 class="py-10 text-2xl font-semibold">
        The more directories your flight school is listed the higher your flight school ranks.  
      </h5>
      <h4 class="italic text-xl pb-5">Social media engagement</h4>
      <p class="pb-5">
        When it comes to off page SEO, social media engagement is an indispensable component that can significantly boost your flight school's online presence and brand visibility. 
        With billions of active users on various social media platforms, tapping into these channels can yield remarkable results for your flight school's visibility and reputation.
      </p>
      <p class="pb-5">
        Social media platforms like Facebook and Ingram, with over 3.8 billion active monthly users, offer a vast audience pool to connect with aviation enthusiasts and potential students. 
        By strategically publishing engaging content, sharing informative posts, and fostering meaningful conversations with your student pilot community, we can help establish your flight school as a trusted industry authority while simultaneously expanding your online reach.
      </p>
    </div>
  </section>

</div>
<%= render "shared/cta1"%>
<%= render "shared/footer"%>