<% title("Search Engine Optimization (SEO) for Flight Schools") %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar"%>
  <header class="w-full h-screen-80 lg:h-screen-3/4 flex flex-col justify-center items-center bg-gradient-to-r from-slate-50 to-blue-300">
    <div class="flex mx-5">
      <div class="flex flex-col justify-center">
        <h1 class="font-bold text-3xl lg:text-6xl uppercase italic">SEO for Flight Schools</h1>
        <h2 class="text-lg lg:text-3xl font-semibold pt-7 lg:pt-10">Get Your Flight School to Rank on Top</h2>
      </div>
      <%= image_tag "bar-graph-increasing.webp", class: "w-32 object-contain lg:w-72", alt: "Increasing Bar Graph with Plane"%>
    </div>
    <div class="flex pt-5 lg:gap-5">
      <%= link_to "SCHEDULE CALL", schedule_call_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
      <%= link_to "CONTACT US", schedule_call_path, class: "font-semibold border-2 border-orange-500 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-orange-500 rounded-lg text-center py-2 px-5 mr-2" %>
    </div>
  </header>

  <section class="flex flex-col">

  </section>




</div>
<%= render "shared/cta1"%>
<%= render "shared/footer"%>