<% title("Flight School Website Design | Right Rudder Marketing") %>
<% meta_description("Designing a website for flight schools is more than just showing a few pictures and leaving a contact form.  Your website is the ultimate sales tool to get new student pilots.  See what Right Rudder Marketing can do for your flight school.") %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar"%>

  <!--Header Section-->
  <section class="grid place-items-center bg-gradient-to-r from-slate-100 to-blue-100">
    <div class="pt-10 lg:py-20 flex flex-col-reverse lg:flex-row-reverse">
      <!--Image-->
      <div class="grid place-items-center lg:w-1/2">
        <%= image_tag "programmer.webp", class: "pt-10 lg:px-10"%>
      </div>
      
      <!--Text-->
      <div class=" lg:w-1/2 px-3 flex flex-col items-center">
        <h1 class="text-3xl font-semibold text-center pb-5">Flight School Web Design</h1>
        <h2 class="text-5xl font-bold text-center">More Than Just a Website</h2>
        <!--Bullet points-->
        <div class="flex flex-col py-10 px-5 gap-3">
          <div class="flex flex-row ">
            <div class="text-green-500 pr-2 font-extrabold">✓</div>
            <h3 class="text-lg lg:px-10 pl-4 lg:text-xl text-left">Custom programmed content management system</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-green-500 pr-2 font-extrabold">✓</div>
            <h3 class="text-lg lg:px-10 pl-4 lg:text-xl text-left">No WordPress themes or templates</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-green-500 pr-2 font-extrabold">✓</div>
            <h3 class="text-lg lg:px-10 pl-4 lg:text-xl text-left">Multiple landing pages and automated funnels</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-green-500 pr-2 font-extrabold">✓</div>
            <h3 class="text-lg lg:px-10 pl-4 lg:text-xl text-left">Mobile friendly and works on all screen sizes</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-green-500 pr-2 font-extrabold">✓</div>
            <h3 class="text-lg lg:px-10 pl-4 lg:text-xl text-left">Fast page load speeds</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-green-500 pr-2 font-extrabold">✓</div>
            <h3 class="text-lg lg:px-10 pl-4 lg:text-xl text-left">Search engine optimized</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-green-500 pr-2 font-extrabold">✓</div>
            <h3 class="text-lg lg:px-10 pl-4 lg:text-xl text-left">Regularly updated blog and content marketing</h3>
          </div>
        </div>
        <!--Buttons-->
        <div class="flex flex-col lg:flex-row gap-5">
          <%= link_to checklist_path, class: "" do%>
            <div class="bg-white font-semibold hover:bg-orange-500 hover:text-white text-orange-500 border-orange-500 border-2 rounded-lg text-center py-2 px-3 transition-all duration-300">Download Checklist</div>
          <%end%>
          <%= link_to schedule_call_path, class: "" do%>
            <div class="bg-orange-500 font-semibold hover:bg-white hover:text-orange-500 border-orange-500 border-2 text-white rounded-lg text-center py-2 px-3 transition-all duration-300">Schedule Consultation</div>
          <%end%>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-gradient-to-t from-blue-100 to-blue-300 pt-10 pb-5 lg:pb-10 text-slate-800">
    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center">
        <h2 class="text-4xl font-bold pt-10 text-center">Websites Built to Convert</h2>
        <h3 class="text-2xl font-semibold italic py-5 px-5 text-center hidden lg:block">Your website is a sales tool.  Are you using it correctly?</h3>
        <h3 class="text-2xl font-semibold italic py-5 text-center lg:hidden">Your website is a sales tool. <br>Are you using it correctly?</h3>
      </div>
      <div class="px-10 lg:w-1/2">
        <p>
          When you think about designing a website for a flight school, what comes to mind?
          List our fleet, showcase our instructors, put a contact form and call it done?
          This is what 91% of flight school websites do, but by doing this we're missing a huge opportunity.
        </p>
        <p class="py-5">
          Your website is your ultimate sales tool in your disposable.  A carefully crafted website can attract the right clients, while on the other hand, not investing enough into your website design and website copy will repel your ideal customers.  At the end of the day, your customers are visiting your website and making a snap judgement about you and your business.
        </p>
        <p>
          So what makes a Right Rudder Marketing website different than all the rest?  It boils down to these three marketing psychology principles. Using these marketing psychology tactics, your website will convert visitors to actual hot leads.
        </p>
        <ul class="list-decimal pl-10 py-5">
          <li class="pb-5">Why become a pilot</li>
          <li class="pb-5">Your authority</li>
          <li class="">Next steps</li>
        </ul>
      </div>
    </div>
  </section >
  <section class="bg-gradient-to-r from-slate-100 to-slate-200 lg:py-10">
    <div class="flex flex-col items-center">

      <!--Why-->
      <div class="flex flex-col-reverse lg:flex-row">
        <div class="lg:w-1/2 flex flex-col items-center">
          <h4 class="text-3xl font-semibold pb-10 text-center">Put Yourself in Their Shoes</h4>
          <p class="w-3/4">
            When people visit your website, they're on the fence on whether they want to start pilot training.  Your website needs to show them the advantages of becoming a pilot.  They're scouring all of the internet for content and resources to guide them in their decision.  Become the source of truth for pilot training in your local area.
          </p>
          <p class="w-3/4 py-5">
            Highlight the benefits of becoming a pilot: career aspects, newer freedom, and a new community.  This is your chance to answer the visitor's "why".  Remember, your customers are motivated to start flight training for the following reasons:
          </p>
          <div class="flex flex-col w-3/4">
            <div class="flex flex-row flex-start">
              <div class="text-green-500 pr-2 font-extrabold">✓</div>
              <h3 class="text-lg px-5 text-left">Appeal to opposite sex</h3>
            </div>
            <div class="pl-11 italic text-slate-500">Becoming a pilot is cool and attractive</div>
            <div class="flex flex-row flex-start pt-3">
              <div class="text-green-500 pr-2 font-extrabold">✓</div>
              <h3 class="text-lg px-5 text-left">Financial benefits</h3>
            </div>
            <div class="pl-11 italic text-slate-500">Either through a pilot career or by saving time</div>
            <div class="flex flex-row flex-start pt-3">
              <div class="text-green-500 pr-2 font-extrabold">✓</div>
              <h3 class="text-lg px-5 text-left">Thrill and curiousity</h3>
            </div>
            <div class="pl-11 italic text-slate-500">Chasing a never fulfilled dream</div>
          </div>
        </div>
        <div class="lg:w-1/2 flex flex-col items-center justify-center lg:pb-0 pb-10">
          <%= image_tag "pensive.webp", alt: "woman thinking if she should start pilot training", class: "lg:w-3/4 lg:rounded-xl"%>
        </div>
      </div>


      <!--How-->
      <div class="flex flex-col-reverse lg:flex-row-reverse pt-10 items-center">
        <div class="lg:w-1/2 flex flex-col items-center pb-10">
          <h4 class="text-3xl font-semibold pb-10 text-center">Show Them How</h4>
          <p class="w-3/4">
            Use your website to brandish your authority.  Lead the visitor step by step on what's the right way to start pilot training through your program.
          </p>
          <p class="w-3/4 py-5">
            Most people are totally confused when first starting the journey in aviation.  They're wondering how much it may cost, what the process is, and how to even get started.  It's an emotional process to decide to start flight training.
          </p>
          <p class="w-3/4 pb-5 font-semibold">
            Show them how you're going to solve their problem
          </p>
          <div class="flex flex-col w-3/4">
            <div class="flex flex-row flex-start">
              <div class="text-green-500 pr-2 font-extrabold">✓</div>
              <h3 class="text-lg px-5 text-left">Package your services</h3>
            </div>
            <div class="pl-11 italic text-slate-500">Describe in great detail your flight school courses.  Make it easy to say yes</div>
            <div class="flex flex-row flex-start pt-3">
              <div class="text-green-500 pr-2 font-extrabold">✓</div>
              <h3 class="text-lg px-5 text-left">Highlight your authority</h3>
            </div>
            <div class="pl-11 italic text-slate-500">Showcase your experience, awards, and past students that have moved on to the airlines</div>
            <div class="flex flex-row flex-start pt-3">
              <div class="text-green-500 pr-2 font-extrabold">✓</div>
              <h3 class="text-lg px-5 text-left">Your facility and staff</h3>
            </div>
            <div class="pl-11 italic text-slate-500">This is the cherry on the cake.  Show off your team and your facility</div>
          </div>
        </div>
        <div class="lg:w-1/2 flex flex-col items-center lg:pb-0 pb-10">
          <%= image_tag "cfi_measure_fuel.webp", alt: "CFI with student pilot measure fuel on a cessna 172", class: "lg:w-3/4 lg:rounded-xl"%>
        </div>
      </div>

      <!--CTA-->
      <div class="flex flex-col-reverse lg:flex-row">
        <div class="lg:w-1/2 flex flex-col items-center">
          <h4 class="text-3xl font-semibold pb-10 text-center">Get Their Information</h4>
          <p class="w-3/4">
            You need more than just a contact form.  While one form is enough to get some leads, Right Rudder Marketing takes it up a notch.  We'll use plenty call to actions throughout the site to guide visitors to multiple forms.
          </p>
          <p class="w-3/4 py-5">
            Some tried and true lead funnels for flight schools include: booking a discovery flight, scheduling a call, and downloading a PDF guide on how to become a pilot.
          </p>
          <p class="w-3/4 pb-5 font-semibold">
            Your website is a sales tool to get your visitors information so they can start training at your flight school ASAP.
          </p>
          <%= link_to schedule_call_path, class: "" do%>
            <div class="bg-orange-500 font-semibold hover:scale-110 border-orange-500 border-2 text-white rounded-lg text-center mb-10 lg:mb-0 py-2 px-3 transition-all duration-300">Right Rudder Marketing Can Help</div>
          <%end%>
        </div>
        <div class="lg:w-1/2 flex flex-col items-center justify-center lg:pb-0 pb-10">
          <%= image_tag "handshake2.webp", alt: "man and woman shaking hands at a hangar", class: "lg:w-5/6 lg:rounded-xl"%>
        </div>
      </div>

    </div>
  </section>
    
  
  <!--Our custom content management system-->
  <section>
    <div class="flex flex-col items-center justify-center">
      <div x-data="{faqOne: false, faqTwo:false, faqThree:false, faqFour:false, faqFive:false}">
        <div class="px-10 py-12 space-y-4 ">
            <h3 class="text-2xl font-bold text-center">What is a custom programmed content management system?</h3>
            <div @click="faqOne = ! faqOne" class="flex justify-between p-3 bg-slate-100 rounded-xl divide-x-2">
              No page builders, no third party software, no themes or templates
              <span class="">
                <svg xmlns="http://www.w3.org/2000/svg" x-bind:class="{ 'rotate-[135deg]': faqOne }" class="w-6 h-6 transition-transform duration-500 ease-in-out" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </span>
            </div>
            <div x-show="faqOne" x-transition.duration.800ms class="p-2 border-l-4 border-orange-500 bg-slate-50">
              <p>Your new website will be custom designed and coded from scratch.</p>
              <p class="py-3">No templates or themes.  Your new website will be unique to your flight school.</p>
              <p>No WordPress, no bloatware.  Your new website is going to run fast.</p>
            </div>
            <div @click="faqTwo = ! faqTwo" class="flex justify-between p-3 bg-slate-100 rounded-xl">
              Fast page load speeds that fits on all screens
              <span class="">
                <svg xmlns="http://www.w3.org/2000/svg" x-bind:class="{ 'rotate-[135deg]': faqTwo }" class="w-6 h-6 transition-transform duration-500 ease-in-out" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </span>
            </div>
            <div x-show="faqTwo" x-transition.duration.800ms class="p-2 border-l-4 border-orange-500 bg-slate-50">
              <p>Achieve high page load scores using clean custom created code. </p>
              <p class="py-3">Mobile first in mind so your new website will fit all screens and sizes.</p>
              <p>Optimized for mobile, tablet, and desktop viewing.</p>
            </div>
            <div @click="faqThree = ! faqThree" class="flex justify-between p-3 bg-slate-100 rounded-xl">
              Built in editor to add news and blog posts on the spot
              <span class="">
              <svg xmlns="http://www.w3.org/2000/svg" x-bind:class="{ 'rotate-[135deg]': faqThree }" class="w-6 h-6 transition-transform duration-500 ease-in-out" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </span>
            </div>
            <div x-show="faqThree" x-transition.duration.800ms class="p-2 border-l-4 border-orange-500 bg-slate-50">
                <p>We'll provide monthly content for you to publish on your website.</p>
                <p class="py-3">Continuous content builds your authority and ranks you higher.</p>
                <p>Use the built in editor to publish your own news and updates.</p>
            </div>
            <div @click="faqFour = ! faqFour" class="flex justify-between p-3 bg-slate-100 rounded-xl">
              Reduced vulnerability and increased security
              <span class="">
              <svg xmlns="http://www.w3.org/2000/svg" x-bind:class="{ 'rotate-[135deg]': faqFour }" class="w-6 h-6 transition-transform duration-500 ease-in-out" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </span>
            </div>
            <div x-show="faqFour" x-transition.duration.800ms class="p-2 border-l-4 border-orange-500 bg-slate-50">
                <p>WordPress and other pagebuilders are a prime target for hackers.</p>
                <p class="py-3">A custom coded website removes you from being a large target.</p>
                <p class="pb-3">Built in security and automatic SSL certificate updates.</p>
                <p>Weekly backups to prevent data loss.</p>
            </div>
            <div @click="faqFive = ! faqFive" class="flex justify-between p-3 bg-slate-100 rounded-xl">
              Search engine optimized
              <span class="">
              <svg xmlns="http://www.w3.org/2000/svg" x-bind:class="{ 'rotate-[135deg]': faqFive }" class="w-6 h-6 transition-transform duration-500 ease-in-out" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </span>
            </div>
            <div x-show="faqFive" x-transition.duration.800ms class="p-2 border-l-4 border-orange-500 bg-slate-50">
                <p>Website is coded with SEO in mind</p>
                <p class="py-3">We're experts in SEO and we stay up to date with Google trends</p>
                <p>Heading tags, titles, meta tags, sitemap, robots.txt...  We cover the technicalities</p>
            </div>
            <!-- <div class="p-2 bg-white">Quidem, ipsam illum quis sed voluptatum quae eum fugit earum</div> -->
            <%= link_to schedule_call_path, class: "lg:hidden" do%>
              <div class="bg-orange-500 font-semibold hover:scale-110 border-orange-500 border-2 text-white rounded-lg text-center mt-10 py-2 px-3 transition-all duration-300">GET A NEW WEBSITE TODAY</div>
            <%end%>
            
          </div>
      </div>
      <div class="text-center font-semibold lg:w-1/3 mx-5 lg:pb-0 pb-10">
        Right Rudder Marketing takes pride in our customer service.  Unlimited revisions, edits, and redesigns.  Territory exclusivity. <br><br> Our success relies on your success so we want to see you grow!
      </div>
      <%= link_to schedule_call_path, class: "hidden lg:block" do%>
        <div class="bg-orange-500 font-semibold hover:scale-110 border-orange-500 border-2 text-white rounded-lg text-center my-5 py-2 px-3 transition-all duration-300">GET A NEW WEBSITE TODAY</div>
      <%end%>
    </div>
    
  </section>

</div>
<%= render "shared/cta1"%>
<%= render "shared/footer"%>