<div class="text-lg bg-gradient-to-r from-slate-100 to-blue-100">
  <%= render "shared/navbar" %>
  <section class=h-screen-2/3>
    <div class="grid place-items-center h-full">
      <div class="text-center">
        <h1 class="text-4xl font-bold">Right Rudder Marketing Webinar Page</h1>
        <h2 class="text-2xl py-5">Coming Soon</h2>
      </div>
      
    </div>
  </section>
</div>

<%= render "shared/cta1" %>
<%= render "shared/footer" %>


<!-- ## DEFAULT.  REMOVE LATER.  Keep for reference...
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Webinars</h1>
    <%= link_to 'New webinar', new_webinar_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="webinars" class="min-w-full">
    <%= render @webinars %>
  </div>
</div>
-->
