<%= link_to account_task_path(notification.notifiable.account, notification.notifiable) do %>
  <p class="py-2 px-4 hover:bg-blue-400 whitespace-nowrap"><%= notification.actor.username %> <%= notification.action %> <%= notification.notifiable.class.name.downcase %>: <%= notification.notifiable.title %></p>
<% end %>
