<!--Associations section-->
<section class="bg-slate-200">
  <div class="flex flex-col items-center">
    <div class="pt-10">
      <h2 class="text-xl font-semibold italic text-center px-16">Right Rudder Marketing is a proud member of the following organizations</h2>
    </div>
    <div class="flex flex-col lg:flex-row justify-center items-center gap-10 lg:gap-10 px-20 md:px-48  lg:px-5 pt-10 pb-20 lg:py-10">
      <!--FSANA-->
      <%= link_to "https://www.fsana.com/partners.php", class: "lg:w-1/5", target: :blank do %>
        <%= image_tag "fsana.webp", alt: "Flight School Association of North America logo", class: "hover:scale-105 transition-all duration-300"%>
      <%end%>
      <!--NAFI-->
      <%= link_to "https://www.nafinet.org/sponsors", class: "lg:w-1/5", target: :blank do %>
        <%= image_tag "nafi2.webp", alt: "National Association of Flight Instructors logo", class: "hover:scale-105 transition-all duration-300 px-5"%>
      <%end%>
      <!--NBAA-->
      <%= link_to "https://nbaa.org", class: "lg:w-1/5", target: :blank do %>
        <%= image_tag "nbaa.webp", alt: "National Business Aviation Association logo", class: "hover:scale-105 transition-all duration-300"%>
      <%end%>
      <!--AMA-->
      <%= link_to "https://www.ama.org", class: "lg:w-1/5", target: :blank  do %>
        <%= image_tag "ama.webp", alt: "American Marketing Association logo" , class: "hover:scale-105 transition-all duration-300"%>
      <%end%>
      <!--Chamber of commerce-->
      <%#= link_to "https://www.chamberofcommerce.com/united-states/missouri/farmington/marketing-agency/2017680081-right-rudder-marketing?source=memberwebsite" do %>
        <%#= image_tag "https://coc.codes/images/badge/2017680081", alt: "Chamber of Commerce Verified logo" , class: "hover:scale-105 transition-all duration-300"%>
      <%#end%>
      <!--US Chamber of Commerce-->
      <%= link_to "https://www.uschamber.com", class: "lg:w-1/4", target: :blank do %>
        <%= image_tag "uschamber.webp", alt: "U.S. Chamber of Commerce Member" , class: "hover:scale-105 transition-all duration-300"%>
      <%end%>
      <!--NAFI-->
    </div>
  </div>
</section>