<section class="flex flex-col items-center bg-gradient-to-tl from-slate-100 to-slate-300 text-slate-900">
  <div class="flex lg:flex-row flex-col-reverse ">
    <div class="flex flex-col items-center justify-center lg:w-1/2 py-10 lg:py-0">
      <div class="bg-white  mx-5 lg:w-1/2 px-8 lg:px-8 my-10 py-20 rounded-full">
        <%= image_tag "ideal_logo_600.webp", alt: "Ideal Aviation Logo", class: ""%>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center lg:w-1/2 p-5">
      <h2 class="text-5xl font-semibold italic font-serif pt-10 lg:pt-0">CASE STUDY</h2>
      <p class="py-10 lg:mx-20">
        Introducing Ideal Aviation.  A flight school that relied on word of mouth and needed to take it to the next level.
      </p>
      <h3 class="lg:mx-20 font-semibold text-xl italic">
        We helped Ideal Aviation streamline their processes, understand what to do to reach their goals, and increased their revenue.
      </h3>
    </div>
  </div>
</section>
<section class="flex flex-col items-center bg-gradient-to-b from-white to-blue-200">
    <div class="max-w-3xl px-5 pt-20 ">
      <h4 class="text-5xl font-bold italic text-center pb-10">The Challenge</h4>
      <p>
        When the team at Ideal Aviation reached out to Right Rudder Marketing, they wanted to updated their WordPress website because it was clunky and slow.  They were paying other agencies and service providers thousands of dollars but not getting the results they wanted.
      </p>
      <h4 class="text-5xl font-bold italic text-center py-10">What We Did</h4>
      <p>
        One of the services Ideal Aviation was paying thousands of dollars for was a quiz form that would generate leads for them.  
        They embedded a link on their website to take their visitors to a webpage off their domain.
        While they were getting a few inquiries, the quiz was not catered to their needs as a flight school and was more of a general template for different industries.
        We coded up a <b>custom sales funnel</b> using the quiz idea which targeted people who had a specific interest in aviation and then streamlined form submissions directly to their CRM.
        We also completely redid their website to load fast and implemented <%= link_to "SEO strategies", seo_path, class: "text-blue-800 hover:underline"%> so they can start ranking higher.
      </p>
      <h4 class="text-5xl font-bold italic text-center py-10">The Results</h4>
        Ideal Aviation now ranks <b>number one</b> on the first page of Google Search and Google Maps. 
        With their partnership at a local college, they welcomed 9 new students in the Fall 2023 semester to their fixed wing pilot training program generating more than an estimated $90,000 in future revenue.

      <div class="w-full flex flex-col items-center py-10">
        <%= image_tag "ideal-aviation-number-1-on-google-search.webp", class: "", alt: "Search Ranking for Ideal"%>
        <p class="text-slate-600 italic text-base">
          Ideal Aviation now shows up as #1 on Google search and Google Maps.  
        </p>
      </div>

      <div class="w-full flex flex-col items-center py-10">
        <%= image_tag "ideal-aviation-heatmap.webp", class: "", alt: "Ideal Aviation is in the top three listings all across St. Louis."%>
        <p class="text-slate-600 italic text-base text-center">
          Heatmap of Google Rankings for Ideal Aviation.  Ideal Aviation is in the <b>top three listings</b> all across the <u>entire St. Louis area</u>.
        </p>
      </div>
      
        

      <div class="w-full flex flex-col items-center lg:pb-10">
          <iframe
              class="h-screen-1/3 lg:h-screen-1/2  aspect-video w-full lg:w-3/4"
              style=""
              src="https://tube.rvere.com/embed?v=c1Pe9XJdsbo"
              title="YouTube video player"
              frameBorder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowFullScreen>
          </iframe>
        </div>

      <!--Testimonial-->
      <div class="flex flex-col lg:flex-row py-10">
        <div class="lg:w-1/2 flex flex-col items-center">
          <%= image_tag "kim-ideal-aviation.webp", class: "rounded-full w-1/2 mb-10 lg:mb-0", alt: "Kim"%>
        </div>
        <div class="lg:w-1/2">
          <p class="italic text-slate-800">
            "We have been using Right Rudder for the past 6 months and could not be happier! They revamped our website to make it more user friendly, makes consistent updates, and are very responsive to our needs. We have seen a steady increase in web traffic as well as website driven phone calls since starting with Right Rudder. I can not say enough good things about them!"
            <br><br>
            -Kim, Director of Administration Ideal Aviation
          </p>
        </div>
      </div>


    </div>
  </section>