<!--Flex Container-->
<div class="flex flex-row items-center justify-between py-0 lg:py-4">
  <!--Logo Box-->
  <div class="hover:brightness-125 transition-all duration-300">
    <%= link_to root_path, data: { turbo: false } do %>
      <%= image_tag "logoside.webp", alt:"Right Rudder Marketing Logo", class: "h-14 lg:h-16 ml-5" %>
    <% end %>
  </div>
  <!--Mobile Hamburger-->
  <div class="lg:hidden text-4xl p-5" x-on:click="menu = ! menu">
    ☰
  </div>
  
  <div class="hidden mr-5 text-lg font-semibold lg:flex lg:flex-row lg:items-center">
    <%= link_to "Home", root_path, data: { turbo: false }, class: "px-3 hover:text-blue-700 transition-all duration-300" %>
    <%= link_to "Our System", marketing_system_path, data: { turbo: false }, class: "px-3 hover:text-blue-700 transition-all duration-300" %>
    <!--Link Box Desktop-->
    <div class="flex justify-center">
      <!--Resources Menu-->
      <div
        x-data="{
          open: false,
          toggle() {
            if (this.open) {
                return this.close()
            }
            this.$refs.button.focus()
            this.open = true
          },
          close(focusAfter) {
            if (! this.open) return
            this.open = false
            focusAfter && focusAfter.focus()
          }
        }"
          x-on:keydown.escape.prevent.stop="close($refs.button)"
          x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
          x-id="['dropdown-button']"
          class="relative"
      >
        <!-- Button -->
        <button
          x-ref="button"
          x-on:click="toggle()"
          :aria-expanded="open"
          :aria-controls="$id('dropdown-button')"
          type="button"
          class="px-3 hover:text-blue-700 transition-all duration-300"
        >
          Resources
        </button>
        <!-- Panel -->
        <div
          x-ref="panel"
          x-show="open"
          x-transition.origin.top.left
          x-on:click.outside="close($refs.button)"
          :id="$id('dropdown-button')"
          style="display: none;"
          class="absolute left-0 mt-2 w-80 rounded-md bg-white shadow-md"
        >
          <%= link_to "Webinars", webinars_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-slate-100"%>
          <%= link_to "Flight School Tips", checklist_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-slate-100"%>
          <%= link_to "Business and Marketing Articles", notams_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-slate-100"%>
          <%= link_to "Growth Accelerator Session", schedule_call_path, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-slate-100"%>
        </div>
      </div>
    </div>
    <%= link_to "NOTAMs", notams_path, data: { turbo: false }, class: "px-3 hover:text-blue-700 transition-all duration-300" %>
    <%= link_to "Schedule Call", schedule_call_path, class: "bg-orange-500 hover:bg-orange-600 text-white rounded-lg text-center py-2 px-5 ml-8 mr-2 transition-all duration-300" %>
  </div>
</div>
<!--Mobile Menu-->
<div class="absolute bg-white w-full h-screen flex flex-col justify-center pb-52" x-cloak x-show="menu" x-transition x-transition:enter.duration.600ms >
  <ul class="text-center font-semibold text-lg" x-data="{ dropdown: false }">
    <li class="py-3"><%= link_to "Home", root_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>
    <li class="py-3"><%= link_to "Our System", marketing_system_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>
    <!--Resources Menu-->
    <li class="py-3"><button class="hover:text-blue-700 transition-all duration-300" x-on:click="dropdown = ! dropdown">Resources</button></li>
    <div class="" x-cloak x-show="dropdown" x-transition x-transition:enter.duration.600ms>
      <li class="py-2"><%= link_to "Webinars", webinars_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Flight School Tips", checklist_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Business and Marketing Articles", notams_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Growth Accelerator Session", schedule_call_path, class: "hover:text-blue-700 transition-all duration-300" %></li>  
    </div>
    <li class="py-3"><%= link_to "NOTAMs", notams_path, data: { turbo: false }, class: "hover:text-blue-700 transition-all duration-300" %></li>
    <li class="py-3"><%= link_to "Schedule Call", schedule_call_path, class: "hover:text-blue-700 transition-all duration-300" %></li>
  </ul>
</div>