<%= link_to schedule_call_path do %>
  <header class="sticky bg-orange-500 text-white lg:hidden flex-row justify-between py-2 pl-5 pr-8">
    <div class="font-semibold text-md text-center grid place-items-center">
      Click to schedule a FREE call
    </div>
  </header>
<% end %>
<!--Phone and h1 tag-->
<header class="sticky bg-blue-900 text-white lg:flex flex-row justify-between py-2 pl-5 pr-8">
  <h1 class="hidden lg:block font-bold">Digital Internet Marketing for Flight Schools</h1>
  <div class="flex flex-row items-center justify-center">
    <%= image_tag "phone.webp", alt: "phone icon", class: "h-4 object-cover invert pr-3"%>
    1-314-358-2100
  </div>
</header>
<!--Top Menu-->
<nav class="sticky top-0 w-full bg-white drop-shadow-2xl z-50" x-data="{ menu: false }">
  <!--Flex Container-->
  <div class="flex flex-row items-center justify-between py-0 lg:py-4">
    <!--Logo Box-->
      <div class="hover:brightness-125 transition-all duration-300">
        <%= link_to root_path do %>
          <%= image_tag "logoside.webp", alt:"Right Rudder Marketing Logo", class: "h-14 lg:h-16 ml-5" %>
        <% end %>
      </div>
    <!--Mobile Hamburger-->
      <div class="lg:hidden text-4xl p-5" x-on:click="menu = ! menu">
        ☰
      </div>
    <!--Link Box Desktop-->
      <div class="hidden mr-5 text-lg font-semibold lg:flex lg:flex-row lg:items-center">
        <%= link_to "Home", root_path, class: "px-3 hover:text-blue-700 transition-all duration-300" %>
        <%= link_to "Our System", our_system_path, class: "px-3 hover:text-blue-700 transition-all duration-300" %>
        <%= link_to "Resources", root_path, class: "px-3 hover:text-blue-700 transition-all duration-300" %>
        <%= link_to "Blog", root_path, class: "px-3 hover:text-blue-700 transition-all duration-300" %>
        <%= link_to "Schedule Call", schedule_call_path, class: "bg-orange-500 hover:bg-orange-600 text-white rounded-lg text-center py-2 px-5 ml-8 mr-2 transition-all duration-300" %>
      </div>
  </div>
  <!--Mobile Menu-->
  <div class="absolute bg-white w-full h-screen flex flex-col justify-center pb-52" x-cloak x-show="menu" x-transition x-transition:enter.duration.600ms >
    <ul class="text-center font-semibold text-lg">
      <li class="py-3"><%= link_to "Home", root_path, class: "hover:text-blue-700 transition-all duration-300" %></li>
      <li class="py-3"><%= link_to "Our System", our_system_path, class: "hover:text-blue-700 transition-all duration-300" %></li>
      <li class="py-3"><%= link_to "Resources", root_path, class: "hover:text-blue-700 transition-all duration-300" %></li>
      <li class="py-3"><%= link_to "Blog", root_path, class: "hover:text-blue-700 transition-all duration-300" %></li>
      <li class="py-3"><%= link_to "Schedule Call", schedule_call_path, class: "hover:text-blue-700 transition-all duration-300" %></li>
    </ul>
  </div>
</nav>