<% if notice %>
  <p class="bg-green-100 text-green-700 px-5 py-1 text-center lg:text-left"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="bg-red-100 text-red-700 px-5 py-1 text-center lg:text-left"><%= alert %></p>
<% end %>

<% if !admin_signed_in? %>
  <!--Book now (mobile screens)-->
  <nav class="top-0 z-50">
    <%= render "shared/navbar_orange_call"%>
  </nav>

  <!--Phone and h1 tag-->
  <header class="top-0 z-50 bg-blue-900 text-white lg:flex flex-row justify-between py-2 pl-5 pr-8">
    <%= render "shared/navbar_blue_headline"%>
  </header>
<%end%>

<!--Top Menu-->
<nav class="top-0 w-full bg-white drop-shadow-2xl z-50" x-data="{ menu: false }">
    <%= render "shared/navbar_menu"%>
</nav>