<!--Flex Container-->
<div class="flex flex-row items-center justify-between py-2 lg:py-4 bg-white">
  <!--Logo Box-->
  <div class="hover:brightness-125 transition-all duration-300">
    <%= link_to root_path, data: { turbo: false } do %>
      <%= image_tag "logoside-250.webp", alt:"Right Rudder Marketing Logo", class: "h-14 lg:h-16 ml-5" %>
    <% end %>
  </div>
  <!--Mobile Hamburger-->
  <div x-data="{ menuOpen: false }" class="mr-2 lg:hidden">
    <button @click=" menuOpen = !menuOpen; menu = !menu " class="" id="hamburger-button" aria-label="mobile menu button">
      <div class="flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all " x-bind:class="{ '': menuOpen } duration-200 shadow-md">
        <div class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden" x-bind:class="{ 'rotate-180': menuOpen }">
          <div class="bg-slate-600 h-[2px] w-7 transform transition-all duration-300 origin-left" x-bind:class="{ 'rotate-[42deg] w-2/3 delay-150': menuOpen }"></div>
          <div class="bg-slate-600 h-[2px] w-7 rounded transform transition-all duration-300" x-bind:class="{ 'opacity-0': menuOpen }"></div>
          <div class="bg-slate-600 h-[2px] w-7 transform transition-all duration-300 origin-left" x-bind:class="{ '-rotate-[42deg] w-2/3 delay-150': menuOpen }"></div>
        </div>
      </div>
    </button>
  </div>


  
  <div class="hidden mr-5 text-lg font-semibold lg:flex flex-row items-center gap-3">
    <!--Link Box Desktop-->
    <div class="flex justify-center">
      <!--Services Menu-->
      <div
        x-data="{
          open: false,
          toggle() {
            if (this.open) {
                return this.close()
            }
            this.$refs.button.focus()
            this.open = true
          },
          close(focusAfter) {
            if (! this.open) return
            this.open = false
            focusAfter && focusAfter.focus()
          }
        }"
          x-on:keydown.escape.prevent.stop="close($refs.button)"
          x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
          x-id="['dropdown-button']"
          class="relative"
      >
        <!-- Button -->
        <button
          x-ref="button"
          @mouseover="toggle()"
          :aria-expanded="open"
          :aria-controls="$id('dropdown-button')"
          type="button"
          class="px-3 hover:text-blue-700 transition-all duration-300"
        >
          Services
        </button>
        <!-- Panel -->
        <div
          x-ref="panel"
          x-show="open"
          x-transition.origin.top.left
          x-on:click.outside="close($refs.button)"
          :id="$id('dropdown-button')"
          style="display: none;"
          class="absolute left-0 mt-2 w-72 rounded-md bg-slate-50 shadow-md"
        >
          
          <%= link_to "Google Ads", googleads_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Facebook Ads", fbads_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Rank On Google Search", seo_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Google My Business", gmb_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Website Design", website_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Video Production", video_production_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "CRM", "https://app.flightschoolcrm.com", target: "blank", class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Full Service Digital Marketing", marketing_system_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md bg-blue-800 text-white px-4 py-2.5 text-left hover:bg-blue-700 duration-300"%>
        </div>
      </div>
    </div>
    
    <!--Link Box Desktop-->
    <div class="flex justify-center">
      <!--How it works Menu-->
      <div
        x-data="{
          open: false,
          toggle() {
            if (this.open) {
                return this.close()
            }
            this.$refs.button.focus()
            this.open = true
          },
          close(focusAfter) {
            if (! this.open) return
            this.open = false
            focusAfter && focusAfter.focus()
          }
        }"
          x-on:keydown.escape.prevent.stop="close($refs.button)"
          x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
          x-id="['dropdown-button']"
          class="relative"
      >
        <!-- Button -->
        <button
          x-ref="button"
          @mouseover="toggle()"
          :aria-expanded="open"
          :aria-controls="$id('dropdown-button')"
          type="button"
          class="px-3 hover:text-blue-700 transition-all duration-300"
        >
          How It Works
        </button>
        <!-- Panel -->
        <div
          x-ref="panel"
          x-show="open"
          x-transition.origin.top.left
          x-on:click.outside="close($refs.button)"
          :id="$id('dropdown-button')"
          style="display: none;"
          class="absolute left-0 mt-2 w-80 rounded-md bg-slate-50 shadow-md"
        >
          <%= link_to "Make Your Flight School Known", "https://rightruddermarketing.com/notams/how-to-make-your-flight-school-known", data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Fill Your Funnel With Leads", "https://rightruddermarketing.com/notams/4-steps-to-enroll-more-student-pilots-at-your-flight-school", data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Enroll More Students", "https://rightruddermarketing.com/notams/why-your-messaging-is-scaring-off-future-student-pilots", data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Flight School Marketing System", marketing_system_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md bg-blue-800 text-white px-4 py-2.5 text-left hover:bg-blue-700 duration-300"%>
        </div>
      </div>
    </div>

    <%# PUT PRICING UP WHEN WE get to 20k MRR?%>
    <%#= link_to "Pricing", root_path, data: { turbo: false }, class: "px-3"%>
    
    <!--Link Box Desktop-->
    <div class="flex justify-center">
      <!--Resources Menu-->
      <div
        x-data="{
          open: false,
          toggle() {
            if (this.open) {
                return this.close()
            }
            this.$refs.button.focus()
            this.open = true
          },
          close(focusAfter) {
            if (! this.open) return
            this.open = false
            focusAfter && focusAfter.focus()
          }
        }"
          x-on:keydown.escape.prevent.stop="close($refs.button)"
          x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
          x-id="['dropdown-button']"
          class="relative"
      >
        <!-- Button -->
        <button
          x-ref="button"
          @mouseover="toggle()"
          :aria-expanded="open"
          :aria-controls="$id('dropdown-button')"
          type="button"
          class="px-3 hover:text-blue-700 transition-all duration-300"
        >
          Resources
        </button>
        <!-- Panel -->
        <div
          x-ref="panel"
          x-show="open"
          x-transition.origin.top.left
          x-on:click.outside="close($refs.button)"
          :id="$id('dropdown-button')"
          style="display: none;"
          class="absolute left-0 mt-2 w-80 rounded-md bg-slate-50 shadow-md"
        >
          <%= link_to "ðŸŽ¥ Webinars", webinars_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "ðŸ†“ Marketing Checklist", checklist_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "ðŸ”¥ Hot Flight School Keywords", "https://rightruddermarketing.com/notams/ultimate-flying-school-online-marketing-cheat-sheet", data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "ðŸ”‘ Flight School Tips", "https://rightruddermarketing.com/notams/5-tips-to-grow-your-flight-school", data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "ðŸ“ SOP Template", "https://rightruddermarketing.com/notams/how-to-create-sops-to-scale-your-flight-school", data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "ðŸ—žï¸ Blog", notams_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300" %>
          <%= link_to "ðŸš€ Growth Accelerator Session", schedule_call_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md bg-blue-800 text-white px-4 py-2.5 text-left hover:bg-blue-700 duration-300"%>
        </div>
      </div>
    </div>
    
    <!--Link Box Desktop-->
    <div class="flex justify-center">
      <!--About Menu-->
      <div
        x-data="{
          open: false,
          toggle() {
            if (this.open) {
                return this.close()
            }
            this.$refs.button.focus()
            this.open = true
          },
          close(focusAfter) {
            if (! this.open) return
            this.open = false
            focusAfter && focusAfter.focus()
          }
        }"
          x-on:keydown.escape.prevent.stop="close($refs.button)"
          x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
          x-id="['dropdown-button']"
          class="relative"
      >
        <!-- Button -->
        <button
          x-ref="button"
          @mouseover="toggle()"
          :aria-expanded="open"
          :aria-controls="$id('dropdown-button')"
          type="button"
          class="px-3 hover:text-blue-700 transition-all duration-300"
        >
          About
        </button>
        <!-- Panel -->
        <div
          x-ref="panel"
          x-show="open"
          x-transition.origin.top.left
          x-on:click.outside="close($refs.button)"
          :id="$id('dropdown-button')"
          style="display: none;"
          class="absolute left-0 mt-2 w-60 rounded-md bg-slate-50 shadow-md"
        >
          <%= link_to "Our Team", our_team_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Our Core Values", core_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Mission and Vision", mission_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Partners and Affiliates", partners_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Investors", investors_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-blue-700 hover:text-white duration-300"%>
          <%= link_to "Careers", careers_path, data: { turbo: false }, class: "flex font-semibold items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md bg-blue-800 text-white px-4 py-2.5 text-left hover:bg-blue-700 duration-300"%>
        </div>
      </div>
    </div>
    <%= link_to "SCHEDULE CALL", schedule_call_path, data: { turbo: false }, class: "bg-orange-500 hover:bg-orange-600  hover:scale-105 text-white rounded-lg text-center py-2 px-3 ml-8 mr-2 transition-all duration-300" %>
  </div>
</div>



<!--Mobile Menu-->
<div class="absolute bg-white w-full h-screen-phone overflow-y-auto flex flex-col justify-start pl-10 pt-5 pb-5" x-cloak x-show="menu" x-transition x-transition:enter.duration.600ms >
  <ul class="text-left font-semibold text-lg" x-data="{ dropdown: false, dropdown2: false, dropdown3: false, dropdown4: false }">
    
    <!--Services Menu-->
    <li class="py-3"><button class="transition-all duration-300" x-on:click="dropdown = ! dropdown">Our Services</button></li>
    <div class="ml-5 text-slate-600" x-cloak x-show="dropdown" x-transition x-transition:enter.duration.600ms>
      <li class="py-2"><%= link_to "Google Ads", googleads_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Facebook Ads", fbads_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Rank on Google Search", seo_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Google My Business", gmb_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Website Design", website_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Video Production", video_production_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "CRM", "https://app.flightschoolcrm.com", target: "blank", class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Full Service Digital Marketing Agency", marketing_system_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
    </div>
    <!--How it Works Menu-->
    <li class="py-3"><button class="transition-all duration-300" x-on:click="dropdown2 = ! dropdown2">How It Works</button></li>
    <div class="ml-5 text-slate-600" x-cloak x-show="dropdown2" x-transition x-transition:enter.duration.600ms>
      <li class="py-2"><%= link_to "Make Your Flight School Known", "https://rightruddermarketing.com/notams/how-to-make-your-flight-school-known", data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Fill Your Funnel With Leads", "https://rightruddermarketing.com/notams/4-steps-to-enroll-more-student-pilots-at-your-flight-school", data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Enroll More Students", "https://rightruddermarketing.com/notams/why-your-messaging-is-scaring-off-future-student-pilots", data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Flight School Marketing System", marketing_system_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
    </div>
    <!--Resources Menu-->
    <li class="py-3"><button class="transition-all duration-300" x-on:click="dropdown3 = ! dropdown3">Resources</button></li>
    <div class="ml-5 text-slate-600" x-cloak x-show="dropdown3" x-transition x-transition:enter.duration.600ms>
      <li class="py-2"><%= link_to "Webinars", webinars_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Marketing Checklist", checklist_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Hot Flight School Keywords", "https://rightruddermarketing.com/notams/ultimate-flying-school-online-marketing-cheat-sheet", data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Flight School Tips", "https://rightruddermarketing.com/notams/5-tips-to-grow-your-flight-school", data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "SOP Template", "https://rightruddermarketing.com/notams/how-to-create-sops-to-scale-your-flight-school", data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Blog", notams_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Growth Accelerator Session",schedule_call_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
    </div>
    <!--About Menu-->
    <li class="py-3"><button class="transition-all duration-300" x-on:click="dropdown4 = ! dropdown4">About</button></li>
    <div class="ml-5 text-slate-600" x-cloak x-show="dropdown4" x-transition x-transition:enter.duration.600ms>
      <li class="py-2"><%= link_to "Our Team", our_team_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Our Core Values", core_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Mission and Vision", mission_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Partners and Affiliates", partners_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Investors", investors_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
      <li class="py-2"><%= link_to "Careers", careers_path, data: { turbo: false }, class: "transition-all duration-300" %></li>  
    </div>
    
    <li class="py-3 -ml-3"><%= link_to "Schedule Call", schedule_call_path, data: { turbo: false }, class: " bg-orange-500 text-white px-3 rounded-md py-2 transition-all duration-300" %></li>
  </ul>
</div>