<%# Head / Meta Data %>
<% title("Does Your Flight School Qualify? | Right Rudder Marketing") %>
<% meta_description("See if your flight school qualifies to work with Right Rudder Marketing.  Our clients need to be ready to for more work.  Our Flight School Marketing System will bring in more students pilots to flight school!") %>
<% meta_keywords("keep CFI busy, fill flight school calendar, rent out more planes, get more student pilots, grow aviation business, private pilot training") %>

<%= render "shared/navbar" %>

<section class="flex flex-col items-center py-10 lg:py-40">
  <h1 class="pb-10 font-bold text-2xl text-center px-3">See if your flight school qualifies</h1>

  <%= turbo_frame_tag "frame1", class: "w-4/5 lg:w-2/5 border-2 rounded-xl p-5 " do %>
  <div class="flex flex-col lg:flex-row items-center justify-between">
    <!--Question-->
    <div class="pb-10 lg:pb-0">
      Do you have a minimum of two CFIs at your flight school?
    </div>
    <!--buttons-->
    <div class="flex flex-row justify-center gap-5 w-min lg:ml-10">
      <%= link_to "Yes", quiz_question_two_path, class: "w-20 bg-blue-500 hover:bg-blue-600 text-white rounded-lg text-center py-2 px-5 transition-all duration-300" %>
      <%= link_to "No", quiz_unqualified_CFI_path, class: "w-20 bg-blue-500 hover:bg-blue-600 text-white rounded-lg text-center py-2 px-5 transition-all duration-300" %>
    </div>
  </div>
  <% end %>
</section>

<%= render "shared/footer"%>