<%# Head / Meta Data %>
<% title("Right Rudder Marketing | Flight School Marketing System") %>
<% meta_description("Learn more about the Flight School Marketing System from Right Rudder Marketing.  Digital Marketing for flight schools and aviation businesses.  Website design, search engine optimization (SEO), pay per click ads (PPC), email campaigns, social media ads, google ads, reputation management") %>
<% meta_keywords("marketing for flight schools, marketing for aviation business, increase sales for flight schools, advertise to local for flight schools, pilot training near me") %>
<% og_image(image_url("/images/fsms.webp")) %>
<% twitter_image(image_url("/images/fsms.webp")) %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar"%>
  <section class="w-full bg-headsys2 bg-cover h-screen-1/2 lg:h-screen bg-center flex justify-center items-center">
    <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center drop-shadow-2xl text-slate-100 w-full">
        <h2 class="font-bold lg:text-4xl text-center hidden lg:block">Reach More Students, Book More Flights, and Train More Pilots</h2>
        <h2 class="font-bold text-3xl text-center lg:hidden">Reach More Students<br>Book More Flights<br>Train More Pilots</h2>
        <p class="py-10 lg:py-16 text-xl lg:text-2xl"><b>Results</b> guaranteed.</p>
        <%= link_to "SEE IF YOUR SCHOOL QUALIFIES", quiz_start_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 text-sm lg:text-lg transition-all duration-300 text-white rounded-lg text-center py-2 px-5 ml-8 mr-2" %>
    </div>
  </section>


  <section>
    <h2 class="text-center text-orange-500 font-bold text-2xl pt-20">We Boost Your Flight School's Visibility Online</h2>
    <h3 class="text-3xl font-bold pb-5 text-center max-w-7xl mx-auto">In today's digital age, maximizing your flight school's visibility is crucial for attracting more students and expanding your impact. Here's how we elevate your online presence:</h3>
    <!--Step 1-->
    <div class="flex flex-col lg:flex-row justify-center items-center pt-10 lg:py-10">
      <!--Text-->
      <div class="w-4/5 lg:w-1/2 lg:px-20 lg:pb-0 pb-20">
        
        <ul class="">
          <li class="pb-5"><strong>Website Update:</strong>
            <ul class="list-disc ml-5">
              <li>We create a modern, user-friendly website to establish authority and secure your position as a local flight school.</li>
              <li>We consistently update your website with fresh content to maintain relevance.</li>
              <li>We optimize your website for search engines (SEO) to increase visibility.</li>
              <li>We craft a user-friendly experience to guide visitors towards inquiries and enrollment.</li>
            </ul>
          </li>
          <li class="pb-5"><strong>Search Engine Optimization (SEO):</strong>
            <ul class="list-disc ml-5">
              <li>We conduct keyword research to align with what potential students are searching for.</li>
              <li>We optimize page titles, descriptions, and content with relevant keywords.</li>
              <li>We create quality, engaging content to keep visitors engaged and interested.</li>
            </ul>
          </li>
          <li class="pb-5"><strong>Google and Facebook Ads:</strong>
            <ul class="list-disc ml-5">
              <li>We utilize PPC advertising on Google and Facebook to reach a wider audience.</li>
              <li>We customize campaigns to target specific demographics and locations.</li>
              <li>We implement retargeting ads on Facebook to capture lost leads and encourage enrollment.</li>
              <li>We utilize lead generation ads on Facebook to collect information from interested prospects.</li>
            </ul>
          </li>
        </ul>
        <p>By implementing these strategies, we can elevate your flight school's digital presence and attract more student pilots. Consider seeking assistance from Right Rudder Marketing for expert guidance tailored to your aviation industry's unique needs.</p>
        <%= link_to "Schedule Consultation", schedule_call_path, data: {turbo: false}, class: "bg-orange-500 mt-5 block font-semibold hover:bg-orange-600 text-white rounded-lg text-center py-2 px-5 transition-all duration-300" %>
      </div>
      <!--Picture-->
      <div class="w-full lg:w-1/2 grid place-items-center">
        <%= image_tag "web-developers-and-designers.jpg", alt:"Web designers and web developers working together", class: "w-auto max-h-[44rem]" %>
      </div>
    </div>
  </section>

  <section class="bg-gray-200">
    <h2 class="text-center text-orange-500 font-bold text-2xl pt-20">We Increase Student Enrollment at Your Flight School</h2>
    <h3 class="text-3xl font-bold pb-5 text-center max-w-7xl mx-auto">Attracting and enrolling more student pilots is essential for the growth and success of flight schools. Here's how we boost student enrollment through targeted digital marketing strategies:</h3>
    <!--Step 1-->
    <div class="flex flex-col lg:flex-row-reverse justify-center items-center pt-10 lg:py-10">
      <!--Text-->
      <div class="w-4/5 lg:w-1/2 lg:px-20 lg:pb-0 pb-20">
        
        <ul class="">
          <li class="pb-5"><strong>Understanding Your Target Audience:</strong>
            <ul class="list-disc ml-5">
              <li>We define your ideal student demographic to tailor your messaging and approach.</li>
              <li>We craft personalized messages that resonate with the aspirations and interests of your target audience.</li>
            </ul>
          </li>
          <li class="pb-5"><strong>Crafting a Sales Funnel:</strong>
            <ul class="list-disc ml-5">
              <li>We design a user-friendly website with clear benefits and a straightforward enrollment process.</li>
              <li>We implement lead capture forms strategically to gather valuable data for follow-up.</li>
              <li>We utilize automation tools to streamline follow-up processes and nurture leads efficiently.</li>
            </ul>
          </li>
          <li class="pb-5"><strong>Nurturing Leads Through Email and Text:</strong>
            <ul class="list-disc ml-5">
              <li>We develop personalized email sequences to guide potential students through the enrollment journey.</li>
              <li>We send concise, targeted messages via text to engage with leads effectively.</li>
              <li>We encourage prospects to take actionable steps towards enrollment through compelling calls to action.</li>
            </ul>
          </li>
          <li class="pb-5"><strong>Capture Lost Leads Through Facebook:</strong>
            <ul class="list-disc ml-5">
              <li>We utilize retargeting ads on Facebook to reconnect with individuals who have visited your website.</li>
              <li>We extend the reach of your message beyond your website and maximize the efficiency of your ad spend.</li>
              <li>We implement the Flight School Marketing System (FSMS) to grow your flight school's visibility and enrollment.</li>
            </ul>
          </li>
        </ul>
        <p>By implementing these steps, we can enhance flight school's digital presence, attract more leads, and enroll more students. Consider partnering with Right Rudder Marketing for expert guidance tailored to your flight school's growth.</p>
        <%= link_to "Schedule Consultation", schedule_call_path, data: {turbo: false}, class: "bg-orange-500 mt-5 block font-semibold hover:bg-orange-600 text-white rounded-lg text-center py-2 px-5 transition-all duration-300" %>
      </div>
      <!--Picture-->
      <div class="w-full lg:w-1/2 grid place-items-center">
        <%= image_tag "marketing-strategy-for-flight-schools.jpg", alt:"Marketing strategy for flight school", class: "w-auto max-h-[54rem]" %>
      </div>
    </div>
  </section>

  <section class="">
    <h2 class="text-center text-orange-500 font-bold text-2xl pt-20">We Improve Your Flight School's Messaging for Increased Student Enrollment</h2>
    <h3 class="text-3xl font-bold pb-5 text-center max-w-7xl mx-auto">Messaging is crucial in attracting and retaining students for your flight school. Here's a breakdown of key points we use to enhance your messaging strategy:</h3>
    <!--Step 1-->
    <div class="flex flex-col lg:flex-row justify-center items-center pt-10 lg:py-10">
      <!--Text-->
      <div class="w-4/5 lg:w-1/2 lg:px-20 lg:pb-0 pb-20">
        
        <ul class="">
          <li class="pb-5"><strong>The 3M's of Marketing:</strong>
            <ul class="list-disc ml-5">
              <li>Market: We identify your ideal customers to tailor your messaging effectively.</li>
              <li>Message: We develop clear and compelling messages that resonate with your audience.</li>
              <li>Medium: We utilize various strategies and tactics to deliver your message to the market.</li>
            </ul>
          </li>
          <li class="pb-5"><strong>The Current State of Your Messaging:</strong>
            <ul class="list-disc ml-5">
              <li>We assess your flight school's messaging for clarity and effectiveness.</li>
              <li>We address common messaging challenges such as technical jargon and generic messages.</li>
            </ul>
          </li>
          <li class="pb-5"><strong>Consistent Messaging:</strong>
            <ul class="list-disc ml-5">
              <li>We maintain consistency in messaging across all platforms.</li>
              <li>We avoid confusion by ensuring a unified voice and theme.</li>
            </ul>
          </li>
          <li class="pb-5"><strong>Impactful Student Testimonials:</strong>
            <ul class="list-disc ml-5">
              <li>We gather authentic student testimonials to build trust.</li>
              <li>We encourage open communication and highlight diverse student perspectives.</li>
            </ul>
          </li>
        </ul>
        <p>By understanding your audience and crafting compelling messages we can enhance your flight school's messaging to attract and retain more students. Consider partnering with Right Rudder Marketing for expert guidance tailored to your flight school's growth.</p>
        <%= link_to "Schedule Consultation", schedule_call_path, data: {turbo: false}, class: "bg-orange-500 mt-5 block font-semibold hover:bg-orange-600 text-white rounded-lg text-center py-2 px-5 transition-all duration-300" %>
      </div>
      <!--Picture-->
      <div class="w-full lg:w-1/2 grid place-items-center">
        <%= image_tag "flight-school-customer-support.jpg", alt:"Flight school getting leads", class: "w-auto max-h-[44rem]" %>
      </div>
    </div>
  </section>
  <%= render "shared/cta2"%>

</div>
<%= render "shared/cta1"%>
<%= render "shared/footer"%>
