<%# Head / Meta Data %>
<% title("Partners Affiliates & Sponsors | Right Rudder Marketing") %>
<% meta_description("Meet the Right Rudder Marketing team.  We're committed to your flight school's success.  Our mission is to bring more people into aviation by helping flight schools all across America become number one in their local area.") %>

<div class="text-lg">
  <%= render "shared/navbar" %>
  <section class="py-6 bg-gradient-to-br from-white lg:to-blue-200 to-blue-100">
		<div class="container p-4 mx-auto space-y-16 sm:p-10">
			<div class="space-y-4">
				<h2 class="text-2xl font-bold leadi sm:text-5xl">Our Partners</h2>
				<p class="max-w-2xl ">
          We're active members in the aviation community.  
          From flying at our local airports, to attending industry events, we're actively involved in the aviation community.
          In addition, we've sponsored and donated thousands of dollars to associations and groups that have a direct impact to the pilot training community.
        </p>
        <p class="max-w-2xl ">
          If your business, association, or group has interest in partnering with Right Rudder Marketing, please reach out and connect with a Right Rudder Marketing Team member.
        </p>
        <div class="pt-10">
        <%= link_to "CONTACT US", contact_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
        </div>
			</div>
    </div>
  </section>
  <!--Sponsor section-->
  <section class="bg-slate-200">
    <div class="flex flex-col items-center">
      <div class="pt-10">
        <h2 class="text-xl font-semibold italic text-center px-16">Right Rudder Marketing proudly sponsors the following organizations</h2>
      </div>
      <div class="flex flex-col lg:flex-row justify-center items-center gap-10 lg:gap-10 px-20 md:px-48  lg:px-5 pt-10 pb-20 lg:py-10">
        <!--FSANA-->
        <%= link_to "https://www.fsana.com/partners.php", class: "lg:w-1/5", target: :blank do %>
          <%= image_tag "fsana.webp", alt: "Flight School Association of North America logo", class: "hover:scale-105 transition-all duration-300"%>
        <%end%>
        <!--NAFI-->
        <%= link_to "https://www.nafinet.org/sponsors", class: "lg:w-1/5", target: :blank do %>
          <%= image_tag "nafi2.webp", alt: "National Association of Flight Instructors logo", class: "hover:scale-105 transition-all duration-300 px-5"%>
        <%end%>
      </div>
    </div>
  </section>

  <!--Member section-->
  <section class="bg-slate-100">
    <div class="flex flex-col items-center">
      <div class="pt-10">
        <h2 class="text-xl font-semibold italic text-center px-16">Right Rudder Marketing is a proud member of the following organizations</h2>
      </div>
      <div class="flex flex-col lg:flex-row justify-center items-center gap-10 lg:gap-10 px-20 md:px-48  lg:px-5 pt-10 pb-20 lg:py-10">
        <!--GSLFIA-->
        <%= link_to "https://gslfia.com", class: "lg:w-1/5", target: :blank do %>
          <%= image_tag "gslfia.webp", alt: "Greater St. Louis Flight Instructor Association logo", class: "hover:scale-105 transition-all duration-300"%>
        <%end%>
        <!--NBAA-->
        <%= link_to "https://nbaa.org", class: "lg:w-1/5", target: :blank do %>
          <%= image_tag "nbaa.webp", alt: "National Business Aviation Association logo", class: "hover:scale-105 transition-all duration-300"%>
        <%end%>
        <!--AMA-->
        <%= link_to "https://www.ama.org", class: "lg:w-1/5", target: :blank  do %>
          <%= image_tag "ama.webp", alt: "American Marketing Association logo" , class: "hover:scale-105 transition-all duration-300"%>
        <%end%>
        <!--Chamber of commerce-->
        <%#= link_to "https://www.chamberofcommerce.com/united-states/missouri/farmington/marketing-agency/2017680081-right-rudder-marketing?source=memberwebsite" do %>
          <%#= image_tag "https://coc.codes/images/badge/2017680081", alt: "Chamber of Commerce Verified logo" , class: "hover:scale-105 transition-all duration-300"%>
        <%#end%>
        <!--US Chamber of Commerce-->
        <%= link_to "https://www.uschamber.com", class: "lg:w-1/4", target: :blank do %>
          <%= image_tag "uschamber.webp", alt: "U.S. Chamber of Commerce Member" , class: "hover:scale-105 transition-all duration-300"%>
        <%end%>
        <!--NAFI-->
      </div>
    </div>
  </section>
  <!--Affiliate section-->
  <section class="bg-slate-200">
    <div class="flex flex-col items-center">
      <div class="pt-10">
        <h2 class="text-xl font-semibold italic text-center px-16">Right Rudder Marketing is a partner affiliate with the following organizations</h2>
      </div>
      <div class="flex flex-col lg:flex-row justify-center items-center gap-10 lg:gap-10 px-20 md:px-48  lg:px-5 pt-10 pb-20 lg:py-10">
        <!--STRATUS-->
        <%= link_to "https://stratus.finance", class: "lg:w-1/4", target: :blank do %>
          <%= image_tag "stratus_logo.webp", alt: "Stratus Financial logo", class: "hover:scale-105 transition-all duration-300"%>
        <%end%>
        <!--EZSIMS-->
        <%= link_to "https://flightschedulepro.com", class: "", target: :blank do %>
          <%= image_tag "flight-schedule-pro.svg", alt: "Flight Schedule Pro logo", class: "hover:scale-105 transition-all duration-300"%>
        <%end%>
        <!--EZSIMS-->
        <%= link_to "https://ezsims.io", class: "lg:w-1/6", target: :blank do %>
          <%= image_tag "ezsim.webp", alt: "Stratus Financial logo", class: "hover:scale-105 transition-all duration-300"%>
        <%end%>

        
      </div>
    </div>
  </section>