<%# Head / Meta Data %>
<% title("Services | Right Rudder Marketing") %>
<% meta_description("Explore the comprehensive range of services offered by Right Rudder Marketing, including Facebook Ads, Google Ads, SEO, Google My Business optimization, website design, CRM, and full-service digital marketing to help your flight school succeed.") %>
<% meta_keywords("flight school marketing services, Facebook Ads for flight schools, Google Ads for flight schools, SEO for flight schools, Google My Business optimization, website design for flight schools, CRM for flight schools, full-service digital marketing for flight schools") %>
<% og_image(image_url("/images/fsms.webp")) %>
<% twitter_image(image_url("/images/fsms.webp")) %>

<div class="text-lg">
  <%= render "shared/navbar"%>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-[90rem] px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Discover Our Services at <br> <span class="text-blue-800">Right Rudder Marketing</span></h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">At Right Rudder Marketing, we are dedicated to providing top-notch marketing solutions tailored specifically for flight schools. Our expert team is committed to helping your school attract more students, increase visibility, and grow your business. Explore our comprehensive range of services and learn how we can support your success in the competitive aviation industry. Join us in transforming the aviation marketing landscape.</p>
      </div>
      <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-4">
        <%= link_to googleads_path do %>
          <div class="border border-gray-200 h-full hover:scale-105 duration-200">
            <%= image_tag "google-ads.jpg", alt: "Google Ads", class: "h-52 w-full object-cover"%>
            <div class="p-5">
              <dt class="font-semibold text-xl text-blue-800">Google Ads</dt>
              <dd class="mt-1 text-gray-600">Maximize your visibility and attract potential students with targeted Google Ads campaigns tailored specifically for your flight school.</dd>
              <p class="text-orange-500 font-medium mt-3">Read More</p>
            </div>
          </div>
        <% end %>
        <%= link_to fbads_path do %>
          <div class="border border-gray-200 h-full hover:scale-105 duration-200">
            <%= image_tag "facebook-ads.jpg", alt: "Facebook Ads", class: "h-52 w-full object-cover"%>
            <div class="p-5">
              <dt class="font-semibold text-xl text-blue-800">Facebook Ads</dt>
              <dd class="mt-1 text-gray-600">Engage with prospective students on social media using our highly effective Facebook Ads to boost your flight school's reach and enrollment.</dd>
              <p class="text-orange-500 font-medium mt-3">Read More</p>
            </div>
          </div>
        <% end %>
        <%= link_to seo_path do %>
          <div class="border border-gray-200 h-full hover:scale-105 duration-200">
            <%= image_tag "off-page-seo.webp", alt: "Rank On Google Search", class: "h-52 w-full object-contain"%>
            <div class="p-5">
              <dt class="font-semibold text-xl text-blue-800">Rank On Google Search</dt>
              <dd class="mt-1 text-gray-600">Improve your flight school's online presence and ranking on Google search results with our expert SEO services.</dd>
              <p class="text-orange-500 font-medium mt-3">Read More</p>
            </div>
          </div>
        <% end %>
        <%= link_to gmb_path do %>
          <div class="border border-gray-200 h-full hover:scale-105 duration-200">
            <%= image_tag "google-my-business.png", alt: "Google My Business", class: "h-52 w-full object-cover"%>
            <div class="p-5">
              <dt class="font-semibold text-xl text-blue-800">Google My Business</dt>
              <dd class="mt-1 text-gray-600">Optimize your Google My Business profile to ensure your flight school stands out in local searches and attracts more students.</dd>
              <p class="text-orange-500 font-medium mt-3">Read More</p>
            </div>
          </div>
        <% end %>
        <%= link_to website_path do %>
          <div class="border border-gray-200 h-full hover:scale-105 duration-200">
            <%= image_tag "website-design.jpg", alt: "Website Design", class: "h-52 w-full object-cover"%>
            <div class="p-5">
              <dt class="font-semibold text-xl text-blue-800">Website Design</dt>
              <dd class="mt-1 text-gray-600">Create a stunning, user-friendly website that converts visitors into students with our professional website design services.</dd>
              <p class="text-orange-500 font-medium mt-3">Read More</p>
            </div>
          </div>
        <% end %>
        <%= link_to video_production_path do %>
          <div class="border border-gray-200 h-full hover:scale-105 duration-200">
            <%= image_tag "video-production.webp", alt: "Video Production", class: "h-52 w-full object-cover"%>
            <div class="p-5">
              <dt class="font-semibold text-xl text-blue-800">Video Production</dt>
              <dd class="mt-1 text-gray-600">Capture the essence of your flight school and engage your audience with high-quality video production services.</dd>
              <p class="text-orange-500 font-medium mt-3">Read More</p>
            </div>
          </div>
        <% end %>
        <%= link_to "https://app.flightschoolcrm.com/", target: "_blank" do %>
          <div class="border border-gray-200 h-full hover:scale-105 duration-200">
            <%= image_tag "CRM.jpeg", alt: "CRM", class: "h-52 w-full object-cover"%>
            <div class="p-5">
              <dt class="font-semibold text-xl text-blue-800">CRM</dt>
              <dd class="mt-1 text-gray-600">Streamline your student management and communication with our advanced Customer Relationship Management (CRM) solutions.</dd>
              <p class="text-orange-500 font-medium mt-3">Read More</p>
            </div>
          </div>
        <% end %>
        <%= link_to marketing_system_path do %>
          <div class="border border-gray-200 h-full hover:scale-105 duration-200">
            <%= image_tag "fsms.webp", alt: "Full Service Digital Marketing", class: "h-52 w-full object-contain"%>
            <div class="p-5">
              <dt class="font-semibold text-xl text-blue-800">Full Service Digital Marketing</dt>
              <dd class="mt-1 text-gray-600">Benefit from our comprehensive digital marketing package, covering all aspects from ads and SEO to web design and CRM, to ensure your flight school's success.</dd>
              <p class="text-orange-500 font-medium mt-3">Read More</p>
            </div>
          </div>
        <% end %>
      </dl>
    </div>
  </div>
</div>

<%= render "shared/cta1"%>
<%= render "shared/footer"%>
