<div id="<%= account.name %> squawks" class="min-w-full flex flex-col gap-5 my-10" data-controller="expandable" data-account="<%= "#{account.id}" %>">
  <div class="flex gap-5 justify-between">
    <h2 class="text-lg lg:text-2xl font-semibold underline"><%= account.name %> Squawks</h2>
    <div class="flex flex-col sm:flex-row gap-2">
      <button data-action="click->expandable#expandAll" class="btn-neutral text-xs lg:text-base whitespace-nowrap">Expand all</button>
      <button data-action="click->expandable#collapseAll" class="btn-neutral text-xs lg:text-base whitespace-nowrap">Collapse all</button>
    </div>
  </div>

  <% ticket_categories(account).each do |key, category| %>
    <% if category[:tickets].any? %>
      <div>
        <div class="flex gap-5">
          <h2 class="<%= category[:color] %> font-semibold text-xl py-2"><%= category[:title] %></h2>
          <button id="<%= "#{unique_id(account, key)}" %>" data-action="click->expandable#toggle" class="rotate-0 duration-200 arrow">
            <svg width="2em" height="2em" viewBox="0 0 24 24" class="pointer-events-none"><path fill="currentColor" d="M16.59 8.59L12 13.17L7.41 8.59L6 10l6 6l6-6z"/></svg>
          </button>
        </div>
        <div class="max-h-[80rem] overflow-hidden duration-300 dropdown" id="<%= "#{unique_id(account, key)}_dropdown" %>">
          <%= render partial: "tickets/ticket", collection: category[:tickets], locals: { source: source, filter: params[:filter] } %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
