<div class="lg:pl-72">
  <div class="p-10">
    <!---
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    --->
    <div class="flex justify-end items-center">
      <%= link_to 'New squawk', new_account_ticket_path(@account), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>

  <%= form_with url: account_tickets_path(@account), method: :get, data: { controller: "filter", turbo_frame: 'tickets_frame' }, class: '' do |form| %>
    <%= form.select :selected_user_id, options_from_collection_for_select(User.all.order(:username), :id, :username), { include_blank: "All Users" }, data: { action: 'change->filter#submit' } %>
  <% end %>

  <%= turbo_frame_tag "tickets_frame" do %>
    <div class="px-10">
      <%= render partial: "account_tickets", locals: { account: @account, source: "account_index" } %>
    </div>
  <% end %>
  
</div>
