<%= turbo_stream_from @ticket %>

<div class="lg:pl-72 bg-blue-100">
  <div class="p-10">
    <div class="min-h-96 w-full flex bg-white shadow-md shadow-gray-400">
      <div class="py-10 px-5 2xl:px-20 w-full relative" data-controller="ticket-options">
        <!---
        <% if notice.present? %>
          <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
        <% end %>
        --->

        <svg class="size-8 absolute top-5 right-5 cursor-pointer border border-gray-500 rounded-full" data-action="click->ticket-options#open" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
        </svg>

        <div class="absolute z-50 pt-16 bg-blue-500 top-0 max-w-0 max-h-0 overflow-hidden right-0 duration-200" data-ticket-options-target="menu">
          <svg class="size-8 absolute top-5 right-5 text-white cursor-pointer border border-gray-600 rounded-full" data-action="click->ticket-options#close" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>

          <%= link_to 'Edit this ticket', edit_account_ticket_path(@account, @ticket), class: "w-full hover:bg-black/30 text-white block py-3 pl-6 pr-20" %>
          <%= button_to 'Destroy this ticket', account_ticket_path(@account, @ticket), method: :delete, data: {turbo_confirm: "Are you sure you want to delete this ticket?"}, class: "w-full hover:bg-black/30 text-white block py-3 pl-6 pr-20" %>
        </div>

        <div class="grid grid-cols-[12rem_auto] gap-4 mb-8">
          <%= form_with(model: [@account, @ticket], data: {controller: "tickets", tickets_target: "form"}, class: "text-right") do |form| %>
            <%= form.check_box :completed, class: "size-14 border-2 rounded-lg", data: {action: "change->tickets#submit"} %>
          <% end %>
          <h1 class="text-4xl font-semibold h-fit self-end"><%= @ticket.title %></h1>

          <hr class="col-span-2 my-2" />

          <p class="font-semibold text-right">Added by</p>
          <p><%= @ticket.user.username %> on <%= @ticket.created_at.strftime("%b %e") %></p>
          
          <p class="font-semibold text-right">Assigned to</p>
          <p><%= @ticket.assigned_users.map(&:first_name).join(", ") %></p>

          <p class="font-semibold text-right">When done, notify</p>
          <p><%= @ticket.notified_users.map(&:first_name).join(", ") %></p>

          <p class="font-semibold text-right">Due on</p>
          <p><%= @ticket.due_date.strftime("%a, %b %e") %></p>

          <p class="font-semibold text-right">Notes</p>
          <div>
            <%= @ticket.content %>
          </div>
        </div>

        <%= render "tickets/comments", ticket: @ticket, account: @account %>
       
      </div>
    </div>
  </div>
</div>
