<div id="<%= dom_id task %>" class="flex gap-10 items-center text-sm py-2 ml-5 border-t border-gray-300">
  <p class="uppercase w-28">
    <%= task.due_date.strftime("%a, %b %e") %>
  </p>
  <%= form_with(model: [task.account, task], data: {controller: "tasks", tasks_target: "form"}) do |form| %> 
    <%= form.check_box :completed, class: "size-5", data: {action: "change->tasks#submit"} %>
    <%= form.hidden_field :source, value: 'portal_index' %>
  <% end %>
  <%= link_to account_task_path(task.account, task) do %>
    <p class="<%= task.completed ? "text-gray-500" : "" %>">
      <%= task.title %>
    </p>
  <% end %>
</div>
