<div style="font-size:12pt;font-family:Arial,sans-serif">
  Hi <%=@message.name%>, 
  <br><br>
  Thanks for contacting Right Rudder Marketing.
  <br><br>
  Our team will reach out to your shortly.  Meanwhile, please feel free to continue browsing our <a href="https://rightruddermarketing">website</a> and enjoy the free resources and content available to you.
  <br><br>
  If you'd like to get a hold of us sooner, give us a call at <a href="tel:1-314-804-1200">1-314-804-1200</a>
 </div>
 <!--Sig-->
 
<div>
  <br style="color:rgb(34,34,34)">
  <br style="color:rgb(34,34,34)">
  <table border="0" cellspacing="0" cellpadding="0" style="color:rgb(34,34,34);border-collapse:collapse">
    <tbody>
      <tr>
        <td width="145" style="width:108.75pt;padding:0.75pt">
          &nbsp; &nbsp; &nbsp; &nbsp;
          <img width="80" height="96" src="https://rightruddermarketing.com/images/rightruddermarketinglogosolo.png" >
        </td>
        <td width="22" style="width:16.5pt;padding:0.75pt">
        </td>
        <td width="201" style="width:150.95pt;padding:0.75pt">
          <p class="" style="margin-bottom:7.5pt;line-height:10.5pt">
            <font color="#0b5394">
              <b>
                <span style="font-size:9pt;font-family:Arial,sans-serif">
                  Tim Jedrek<br>
                </span>
              </b>
              <span style="font-size:8pt;font-family:Arial,sans-serif">
                Founder<br></span>
                <b>
                  <span style="font-size:9pt;font-family:Arial,sans-serif"><br>
                    Right Rudder Marketing<br>
                  </span>
                </b>
              </font>
            <span style="font-size:8pt;font-family:Arial,sans-serif">
              <font color="#0b5394">
                4411 Woodson Rd<br>
                Suite 101A<br>
                St. Louis, MO 63134<br>
                1-314-358-2100
              </font><br>
              <a href="mailto:tim@rightruddermarketing.com" style="color:rgb(11,83,148)" target="_blank">
                tim@rightruddermarketing.com
              </a><br>
              <a href="https://rightruddermarketing.com" style="color:rgb(11,83,148)" target="_blank">
                https://rightruddermarketing.com
              </a>
            </span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br><br><br>
   -------- Your Form Submission Details --------
<br><br><br>
   Name: <%=@message.name%><br>
   Phone: <%=@message.phone%><br>
   SMS Text: <%=@message.sms%><br>
   Email: <%=@message.email%><br>
   Message: <%=@message.content%><br>