<% @accounts.each do |account| %>
  <div class="p-10 pl-20">
    <h1 class="font-bold text-4xl"><%= account.name %></h1>
    <div id="tickets" class="min-w-full flex flex-col gap-5 mt-10">
      <% if  tickets_to_show(account).overdue.any? %>
        <div>
          <h2 class="text-red-500 font-semibold text-xl py-2">Overdue</h2>
          <%= render partial: "tickets/ticket", collection: tickets_to_show(account).overdue, locals: { source: "portal_index", filter: params["filter"] } %>
        </div>
      <% end %>

      <% if tickets_to_show(account).due_today.any? %>
        <div>
          <h2 class="font-semibold text-xl py-2">Due today</h2>
          <%= render partial: "tickets/ticket", collection: tickets_to_show(account).due_today, locals: { source: "portal_index", filter: params["filter"] } %>
        </div>
      <% end %>

      <% if tickets_to_show(account).due_tomorrow.any? %>
        <div>
          <h2 class="font-semibold text-xl py-2">Due tomorrow</h2>
          <%= render partial: "tickets/ticket", collection: tickets_to_show(account).due_tomorrow, locals: { source: "portal_index", filter: params["filter"] } %>
        </div>
      <% end %>

      <% if tickets_to_show(account).due_later_this_week.any? %>
        <div>
          <h2 class="font-semibold text-xl py-2">Due later this week</h2>
          <%= render partial: "tickets/ticket", collection: tickets_to_show(account).due_later_this_week, locals: { source: "portal_index", filter: params["filter"] } %>
        </div>
      <% end %>
      
      <% if tickets_to_show(account).due_next_week.any? %>
        <div>
          <h2 class="font-semibold text-xl py-2">Due next week</h2>
          <%= render partial: "tickets/ticket", collection: tickets_to_show(account).due_next_week, locals: { source: "portal_index", filter: params["filter"] } %>
        </div>
      <% end %>

      <% if tickets_to_show(account).due_later_within_a_month.any? %>
        <div>
          <h2 class="font-semibold text-xl py-2">Due later within a month</h2>
          <%= render partial: "tickets/ticket", collection: tickets_to_show(account).due_later_within_a_month, locals: { source: "portal_index", filter: params["filter"] } %>
        </div>
      <% end %>
      
      <% if tickets_to_show(account).due_later.any? %>
        <div>
          <h2 class="font-semibold text-xl py-2">Due later</h2>
          <%= render partial: "tickets/ticket", collection: tickets_to_show(account).due_later, locals: { source: "portal_index", filter: params["filter"] } %>
        </div>
      <% end %>

      <% if tickets_to_show(account).no_due_date.any? %>
        <div>
          <h2 class="font-semibold text-xl py-2">No due date</h2>
          <%= render partial: "tickets/ticket", collection: tickets_to_show(account).no_due_date, locals: { source: "portal_index", filter: params["filter"] } %>
        </div>
      <% end %>

      <% if tickets_to_show(account).completed.any? %>
        <div>
          <h2 class="text-green-500 font-semibold text-xl py-2">Completed</h2>
          <%= render partial: "tickets/ticket", collection: tickets_to_show(account).completed, locals: { source: "portal_index", filter: params["filter"] } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
