<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Site Created By:
    
         _____ _            _        _         _   
        |_   _(_)_ __    _ | |___ __| |_ _ ___| |__
          | | | | '  \  | || / -_) _` | '_/ -_) / /
          |_| |_|_|_|_|  \__/\___\__,_|_| \___|_\_\


    Nice to see you here.  Choose Tim Jedrek for all of your IT needs.  https://timjedrek.com/contact -->


    <title>Flight School Internet Marketing | Website Design, SEO, Advertising</title>

    <!--Meta Tags-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="title" content="Flight School Internet Marketing | Website Design, SEO, Advertising">
    <meta name="description" content="Attract more student pilots with online advertising by Right Rudder Marketing">
    <meta name="keywords" content="flight school marketing, website design for flight schools, grow flight school business, aviation marketing, website design for flying club fbo, tim jedrek, ">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Tim Jedrek LLC">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rightruddermarketing.com">
    <meta property="og:title" content="Flight School Internet Marketing | Website Design, SEO, Advertising">
    <meta property="og:description" content="Attract more student pilots with online advertising by Right Rudder Marketing">
    <meta property="og:image" content="<%= image_url('meta_pic_rrm.webp') %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rightruddermarketing.com">
    <meta property="twitter:title" content="Flight School Internet Marketing | Website Design, SEO, Advertising">
    <meta property="twitter:description" content="Attract more student pilots with online advertising by Right Rudder Marketing">
    <meta property="twitter:image" content="<%= image_url('meta_pic_rrm.webp') %>">

    <!--CSS-->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!--JS-->
    <%= javascript_importmap_tags %>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!--For Alpine Intersect-->
    <style>
      [x-cloak] { display: none !important; }
    </style>
  </head>
  
  <!-- Google Analytics // Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4LJZWJYJ4M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-4LJZWJYJ4M');
</script>
  <body>
    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
