<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Site Created By:
    
         _____ _            _        _         _   
        |_   _(_)_ __    _ | |___ __| |_ _ ___| |__
          | | | | '  \  | || / -_) _` | '_/ -_) / /
          |_| |_|_|_|_|  \__/\___\__,_|_| \___|_\_\


    Nice to see you here.  Choose Tim Jedrek for all of your IT needs.  https://timjedrek.com/contact -->

    <!--Title-->
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Right Rudder Marketing
      <% end %>
    </title>

    <!--Favicon--> 
    <%= favicon_link_tag asset_path('favicon/favicon.ico') %>
    <% %w(57 72 76 114 120 144 152 180).each do |size| %>
      <%= favicon_link_tag "favicon/apple-touch-icon-#{size}x#{size}.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "#{size}x#{size}" %>
    <% end %>

    <!--Meta Tags-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="title" content="<%= if content_for?(:title) then yield(:title) else 'Right Rudder Marketing' end %>">
    <meta name="description" content="<%= if content_for?(:meta_description) then yield(:meta_description) else 'Attract more student pilots and grow your flight school with digitial marketing' end %>">
    <meta name="keywords" content="<%= if content_for?(:meta_keywords) then yield(:meta_keywords) else 'flight school marketing, website design for flight schools, grow flight school business, aviation marketing, website design for flying club fbo, tim jedrek' end %>">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Tim Jedrek LLC">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="<%= if content_for?(:title) then yield(:title) else 'Right Rudder Marketing' end %>">
    <meta property="og:description" content="<%= if content_for?(:meta_description) then yield(:meta_description) else 'Attract more student pilots and grow your flight school with digitial marketing' end %>">
    <meta property="og:image" content="<%= if content_for?(:og_image) then yield(:og_image) else image_url('rrmlogo.webp') end %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= request.original_url %>">
    <meta property="twitter:title" content="<%= if content_for?(:title) then yield(:title) else "Right Rudder Marketing" end %>">
    <meta property="twitter:description" content="<%= if content_for?(:meta_description) then yield(:meta_description) else 'Attract more student pilots and grow your flight school with digitial marketing' end %>">
    <meta property="twitter:image" content="<%= if content_for?(:twitter_image) then yield(:twitter_image) else image_url('rrmlogo.webp') end %>">

    <!--CSS-->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!--JS-->
    <%= javascript_importmap_tags %>
    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!--For Alpine Intersect-->
    <style>
      [x-cloak] { display: none !important; }
    </style>
  </head>
  
  <!-- Google Analytics // Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4LJZWJYJ4M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-4LJZWJYJ4M');
</script>
  <body>
    <main class="">
    <% if admin_signed_in? %>
      <!--USER MENU-->
      <%= render "shared/user_menu" %>
    <% end %>
      <%= yield %>
    </main>
  </body>
</html>
