<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flight School Internet Marketing | Website Design, SEO, Advertising</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <!-- Google Analytics // Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4LJZWJYJ4M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4LJZWJYJ4M');
</script>
  <body>
    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
