<div id="<%= dom_id account %>" class="flex flex-col px-4 py-8 rounded-md shadow shadow-gray-400 items-center">

  <% if account.logo.attached? %>
    <%= image_tag account.resized_logo, class: "size-36 rounded-full object-contain" %>
  <% else %>
    <%= image_tag "airplane-logo.webp", class: "size-36 rounded-full object-contain" %>
  <% end %>

  <div class="flex flex-col gap-1 my-5 text-center">
    <p class="font-semibold text-2xl">
      <%= account.name %>
    </p>
    <p class="font-semibold text-gray-400">
      Location
    </p>
  </div>

  <div class="flex gap-2 flex-col 2xl:flex-row">
    <%= link_to "Go to account", account, class: "rounded-lg text-center py-3 px-5 text-blue-600 border-blue-600 border hover:bg-white hover:text-black inline-block font-medium duration-200 bg-blue-600 text-white" %>
    <%= link_to 'Edit this account', edit_account_path(account), class: "rounded-lg text-center py-3 px-5 bg-yellow-600 border border bg-yellow-600 hover:bg-white text-white hover:text-black duration-200 inline-block font-medium" %>
  </div>
</div>
