<p><%= account_user.user.username %></p>
<p><%= account_user.user.full_name %></p>
<p><%= account_user.user.email %></p>
<p><%= account_user.role %></p>
<p><%= account_user.user.invitation_accepted_at.present? %></p>
